.addTopNotifiction {
    display: flex;
    /* background-color: #377895; */
    justify-content: space-between;
    padding: 15px 5px;
    box-shadow: -1px 1px 11px 3px rgba(0, 0, 0, 0.50);
    font-family: Calibri;
}

.addDataMain {
    display: flex;
    margin-block: 20px;

}

.addDataTitle {
    margin: 5px;
    font-size: 14px;
    font-weight: 500;
    width: 90px;
}

.addDataInp {
    height: 27px;
    width: 220px;
    outline: none;
    border: 1px solid lightgray;
}






.addDataTextAre {
    height: 60px;
    width: 220px;
    outline: none;
    border: 1px solid lightgray;
}

.addDataSaveBtn {
    height: 30px;
    width: 100px;
    font-size: 15px;
    border: none;
    cursor: pointer;
    font-weight: 600;
    color: white;
    margin-inline: 10px;
    background: #377895;
    opacity: 0.4;
    border-radius: 5px;
}

.addDataSaveBtn:hover {
    color: #377895;
    background-color: white;
    border: 1px solid #377895;
}

.addDataBtnMain {
    height: 35px;
    width: 80px;
    border: none;
    font-size: 15px;
    font-weight: 600;
    background: #ebebeb;
    /* box-shadow: -1px 1px 11px 3px rgba(0, 0, 0, 0.3); */
    color: black;
    cursor: pointer;
    opacity: 0.6;
    border-radius: 7px;
    margin-inline: 10px;
}

.topSearchBoxDiv {
    border-radius: 20px;
    border: 1px solid rgba(224, 224, 224, 1);
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 50px;
}

.topSearchBox {
    height: 16px;
    width: 250px;
    margin-inline: 10px;
    border: none;
    outline: none;
    font-size: 14px;
}

.topSearchBox::placeholder {
    font-size: 13px;
}

.underlinedText {
    text-decoration: underline;
    cursor: pointer;
}

.customHeaderCell {
    background-color: #f2f3f5;
}

.customHeaderCellHide {
    display: none !important;
}

