

.headline {
        height: 30px;
        width: 100%;
        background-color: #939292;
        font-weight: bold;
        color: white;
        font-size: 20px !important;
        padding: 1rem;
        display: flex;
        justify-content: flex-start;
        align-items: center;
}

.companyDetails {
        display: flex;
        justify-content: space-between;
        align-items: center;
        /* min-height: 10rem; */
}

.companyhead {
        display: flex;
        flex-direction: column;
        padding-top: 0.4rem;
        width: 85%;
}

.lines {
        line-height: 100%;
        padding: 2px;
        /* height: 20px; */
        font-size: 14px;
}


.custBlock {
        display: flex;
        justify-content: space-between;
        /* min-height: 12rem; */
        border-top: 1px solid #dcd3d3;
        border-left: 1px solid #dcd3d3;
}


.custDetails {
        display: flex;
        flex-direction: column;
        font-size: 13px;
        line-height: 100%;
        width: 25%;
        border-right: 1px solid #dcd3d3;
}

.invoice {
        line-height: 100%;
        padding: 2px;
        /* height: 20px; */
        width: 100%;
        display: flex;
        justify-content: space-between;
}

.headerImg {
        height: 50%;
        width: 50%;
}

@media print {
        .lines {
                line-height: 12px;
                /* padding: 2px; */
                /* height: 20px; */
                font-size: 12px;
        }
}