.mainGridView {
    background-color: #f8f7fa;
    height: 100vh;
  }
  
  .summaryBox {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 10px;
  }
  
  .boxViewTotal {
    display: flex;
    align-items: center;
    padding: 16px;
    border-radius: 8px;
    border: 2px solid rgb(129, 199, 132);
    margin: 0px;
  }
  
  .boxViewTotalTitle {
    margin: 0px;
    font-size: 14px;
    color: rgb(117, 117, 117);
    cursor: pointer;
  }
  
  .boxViewTotalValue {
    font-weight: bold;
    font-size: 1.25rem;
    color: rgb(129, 199, 132);
    margin: 7px 0px;
    min-width: 70px;
  }
  
  .drawerMain .MuiDrawer-paper {
    width: 400px !important;
  }
  
  .selectDropDownMain {
    width: 100% !important;
  }
  
  .simpleGridView {
    box-shadow: 0 0.1875rem 0.75rem 0 rgba(47, 43, 61, 0.14);
    background-color: white;
  }
  
  .minTexBox {
    width: 150px !important;
  }
  
  .FiletrBtnOpen {
    height: 40px;
    width: 130px;
    border-radius: 3px;
    background-color: rgb(222 212 212);
    border: none;
    outline: none;
    cursor: pointer;
    font-weight: 600;
    font-size: 15px;
  }
  
  .accordianMain {
    margin: 20px !important;
  }
  
  .gridMetalComboMain {
    display: flex !important;
    flex-direction: column !important;
    max-height: 340px;
    overflow: auto;
    scrollbar-width: thin;
  }
  
  .mainName {
    height: 20px;
    display: flex;
    margin: 0px;
    align-items: center;
    font-weight: 600;
  }
  
  .subname {
    height: 20px;
    display: flex;
    margin: 0px;
    align-items: center;
  }
  
  .imageViewImgGrid {
    height: 35px;
    width: 35px;
    cursor: pointer;
  }
  
  .imageViewImg {
    height: 35px;
    width: 35px;
    cursor: pointer;
  }
  
  .imageViewImgage {
    height: 300px;
    width: 24%;
    object-fit: cover;
    padding: 5px;
  }
  .colorFiled {
    height: 30px;
    width: 30px;
    margin: 5px;
    cursor: pointer;
    border-radius: 5px;
  }
  .topSettingBtnPopup {
    padding: 10px;
    height: fit-content;
    background-color: lavender;
    border-radius: 5px;
    margin: 20px;
    cursor: pointer;
  }
  
  .ConversionMain {
    width: 400px !important;
    padding: 20px;
  }
  
  .transition-container {
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transition: max-height 0.5s ease, opacity 0.5s ease;
  }
  
  .transition-container.open {
    max-height: 300px;
    opacity: 1;
  }
  
  .transition-container.closed {
    max-height: 0;
    opacity: 0;
  }
  
  
  
  
  
  
  .ClearFilterButton {
    background-color: rgb(250 77 77);
    color: white;
    font-size: 16px;
    width: 150px;
    height: 40px;
    font-weight: 500;
    border: none;
    outline: none;
    border-radius: 3px;
    cursor: pointer;
    margin-inline: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .ClearFilterButton:hover {
    background-color: rgb(238, 37, 37);
    transition: transform 0.3s ease, background-color 0.3s ease;
  }
  
  .exportButton {
    background-color: rgb(21, 163, 75);
    color: white;
    font-size: 16px;
    width: 150px;
    height: 40px;
    font-weight: 500;
    border: none;
    outline: none;
    margin-inline: 5px;
    border-radius: 3px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .exportButton:hover {
    background-color: rgb(34, 194, 95);
    transition: transform 0.3s ease, background-color 0.3s ease;
  }
  
  .fullScreenButton {
    background-color: #216ba5;
    color: white;
    font-size: 16px;
    width: 150px;
    height: 40px;
    font-weight: 500;
    border: none;
    outline: none;
    margin-inline: 5px;
    border-radius: 3px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .fullScreenButton:hover {
    background-color: #237bbe;
    transition: transform 0.3s ease, background-color 0.3s ease;
  }
  