.containerdp10{
    box-sizing: border-box;
    word-break: break-all;
    font-size: 12px;
    line-height: 14px;
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 5rem;
    font-family: Calibri;
    
}
/* value space and direction */
.centerdp10{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.center_sdp10{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 1px;
}
.end_dp10{
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
}
.start_dp10{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.pab60_dp10{
    padding-bottom: 100px;
    margin-bottom: 5rem;
}
/* font size */
.fsgdp10{
    font-size: 12px;
    line-height: 15px;
}
.fsg2dp10{
    font-size: 12px;
    /* line-height: 14px; */
}

/* border */
.brR_dp10{
    border-right:1px solid rgb(117, 115, 115) !important;
}
.br_dp10{
    border:1px solid rgb(117, 115, 115) !important;
}
.bg_dp10{
    background-color: #f1f1f1;
}
.bl_dp10{
    border-left: 1px solid #BDBDBD;
}
.bt_dp10{
    border-top: 1px solid #BDBDBD;
}
.bright_dp10{
    border-right: 1px solid #BDBDBD;
}
.bb_dp10{
    border-bottom: 1px solid #BDBDBD;
}
.ball_dp10{
    border: 1px solid #BDBDBD;
}
/* header part */
.pheaddp10{
    height: 40px;
    background-color: #989898;
    font-size: 25px;
    font-weight: bold;
    color: white;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 5px;
    margin-bottom: 3px;
}
.imgHWdp10{
    height: 100%;
    max-height: 120px;
}
.subheaderdp10{
    display: flex;
    border-top: 1px solid #e8e8e8;
    border-bottom: 1px solid #e8e8e8;
}
.subdiv1dp10{
    width: 35%;
    padding-top: 5px;
    padding-bottom: 5px;
    /* min-height: 7rem; */
}
.subdiv2dp10{
    width: 35%;
    padding-top: 5px;
    padding-bottom: 5px;
    /* min-height: 7rem; */
}
.subdiv3dp10{
    width: 30%;
    padding-top: 5px;
    padding-bottom: 5px;
    /* min-height: 7rem; */
}



/* table part */

/* table head */
.theaddp10{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    border-left:1px solid black;
    border-right:1px solid black;
    border-bottom:1px solid #BDBDBD;
    border-top: 1px solid black;
}

/* table head columns */
.col1dp10{
    width: 2%;
    height: 100%;
    border-right:1px solid #BDBDBD;
}
.col2dp10{
    width: 10%;
    height: 100%;
    border-right:1px solid #BDBDBD;
}
.col3dp10{
    width: 26%;
    height: 100%;
    border-right:1px solid #BDBDBD;
}
.col4dp10{
    width: 19%;
    height: 100%;
    border-right:1px solid #BDBDBD;
}
.col6dp10{
    width: 4%;
    height: 100%;
    border-right:1px solid #BDBDBD;
}
.col7dp10{
    width: 9%;
    height: 100%;
    border-right:1px solid #BDBDBD;
}
.col8dp10{
    width: 6%;
    height: 100%;
    /* border-right:1px solid #989898; */
}

/* table head sub column */
.theadsubcol1_dp10{
    width: 16.66%;
}
.theadsubcol2_dp10{
    width: 25%;
}

/* table body one row columns */

.tbrowdp10{
    display: flex;
    border-bottom: 1px solid #BDBDBD;
    border-left: 1px solid black;
    border-right: 1px solid black;
    
}
.brb_dp10{
    border-left: 1px solid black;
    border-right: 1px solid black;
}
.tbcol1dp10{
    width: 2%;
    border-right:1px solid #BDBDBD;
    /* padding-top: 10px; */
}
.tbcol2dp10{
    width: 10%;
    border-right:1px solid #BDBDBD;
    /* padding-top: 10px; */
}
.tbcol3dp10{
    width: 26%;
    border-right:1px solid #BDBDBD;
    /* padding-top: 10px; */
}
.tbcol4dp10{
    width: 19%;
    border-right:1px solid #BDBDBD;
    /* padding-top: 10px; */
}
.tbcol6dp10{
    width: 4%;
    border-right:1px solid #BDBDBD;
    padding: 0px !important;
    padding-right: 1px !important;
    /* padding-top: 10px !important; */
}
.tbcol7dp10{
    width: 9%;
    border-right:1px solid #BDBDBD;
    /* padding-top: 10px; */
}
.tbcol8dp10{
    width: 6%;
    /* border-right:1px solid #989898; */
    /* padding-top: 10px !important; */
}


/* table body img */
.imgdp10{
    height: 80%;
    width: 65%;
    margin: 2px;
}

/* grand total */
.grandtotaldp10{
    height: 25px;
    border-top: 1px solid #BDBDBD;
    font-weight: bold;
}
.brbb_dp10{
    border-bottom: 1px solid black;
}

/* summary */
.sumdp10{
    width: 31%;
}
.dia_sum_dp10{
    width: 18%;
}
.oth_sum_dp10{
    width: 15%;
}
.remark_sum_dp10{
    width: 15%;
}
.check_dp10{
    width: 10%;
}

.h14_dp10{
    height: 14px;
}
.pad_top_dp10{
    padding: 0px !important;
    /* padding-top: 10px !important; */
}
.pr_dp10{
    padding-right: 2px !important;
}

.max_height_box{
    max-height: 140px;
}
@media print {
    .fsgdp10{
        font-size: 9px !important;
        line-height: 10px !important;
    }
    .fsg2dp10{
        font-size: 8px !important;
        /* line-height: 14px; */
    }
    .containerdp10{
        box-sizing: border-box;
        word-break: break-all;
        padding: 4px;
        font-size: 8px !important;
        line-height: 9px !important;
    }

    .hidebtndp10{
        display: none !important;
    }
    .tbrowdp10{
        page-break-inside: avoid;
    }
    .summarydp10{
        page-break-inside: avoid;
    }
    .theaddp10{
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 30px !important;
        border-left:1px solid black;
        border-right:1px solid black;
        border-bottom:1px solid #BDBDBD;
    }
    .imgHWdp10{
        height: 100%;
        max-height: 60px;
    }
    .grandtotaldp10{
        height: 15px !important;
        border: 1px solid #BDBDBD;
        border-bottom: 1px solid black;
        border-left: 1px solid black;
        border-right: 1px solid black;
        font-weight: bold;
    }
    .containerdp10{
        box-sizing: border-box;
        word-break: break-all;
        font-size: 7px;
        line-height: 7px;
        max-width: 1200px;
        margin: 0 auto;
        padding: 15px;
        /* margin-top: 5rem; */
        
    }
    .h14_dp10{
        height: 10px !important;
    }
    .max_height_box{
        max-height: 90px;
    }
    .declaraionSP1 *{
        font-size: 10px;
        line-height: 12px;
        word-wrap: break-word;
    }
}