.container_mrp {
  box-sizing: border-box;
  width: 100%;
  font-size: 16px;
  font-family: calibri;
  padding-bottom: 30px;
}

.head_mrp {
  font-size: 22px;
  color: black;
  background-color: rgb(255, 235, 59);
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  margin-bottom: 10px;
}

.cust_name_title {
  font-size: 22px;
  padding-right: 30px;
}

.w_inp {
  width: 80%;
}

.btn_go {
  width: 60px;
  height: 36px;
  padding: 5px;
  padding-left: 0px;
  border: none;
  border-radius: 7px;
  color: black;
  background-color: white;
  border-left: 8px solid green;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-left: 20px;
}

.btn_go:hover {
  background-color: #e8e8e8;
}

.scanblock_mrpbill {
  min-height: 160px;
  min-width: 120px;
  max-height: 160px;
  max-width: 120px;
  width: 100%;
  height: 100%;
  margin: 5px;
  /* border: 1px solid #e8e8e8; */
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

.jobitem_mrp {
  font-size: 20px;
  color: green;
  background-color: #b3ffb3;
  min-width: 90px;
  max-width: 120px;
  width: 100%;
  border-radius: 8px;
  margin: 5px;
  padding: 5px;
  border: 1px solid #e8e8e8;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
}

.minH_mrp {
  min-height: 170px;
}

.max_w_table {
  max-width: 1000px;
  border: 1px solid #989898;
  border-radius: 8px;
  margin-bottom: 0px !important;
}

.tableDiv_mrp {
  width: 100%;
  margin-top: 3rem;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.continue_btn_bill {
  height: 40px;
  color: white;
  background-color: rgb(56, 126, 186);
  width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  border-radius: 8px;
  cursor: pointer;
}

.continue_btn_bill:hover {
  background-color: rgb(35, 114, 184);
}

.roundup_btn_bill {
  height: 34px;
  color: white;
  background-color: rgb(56, 126, 186);
  width: 100px;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  border-radius: 4px;
  cursor: pointer;
}

.roundup_btn_bill:hover {
  background-color: rgb(35, 114, 184);
}

.customize_btn_bill {
  height: 40px;
  color: white;
  background-color: rgb(56, 126, 186);
  width: 140px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  border-radius: 8px;
  cursor: pointer;
}

.customize_btn_bill:hover {
  background-color: rgb(35, 114, 184);
}

.continue_btn_est {
  height: 40px;
  color: white;
  background-color: rgb(207, 153, 36);
  width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  border-radius: 8px;
  cursor: pointer;
}

.continue_btn_est:hover {
  background-color: rgb(223, 169, 54);
}

.continue_btn_continue {
  height: 40px;
  color: white;
  background-color: #ff540f;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  border-radius: 8px;
  cursor: pointer;
}

.continue_btn_continue:hover {
  background-color: #ff5f20;
}

.continue_btn_back {
  height: 40px;
  color: white;
  background-color: black;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  border-radius: 8px;
  cursor: pointer;
}

.continue_btn_back:hover {
  background-color: black;
}

.continue_btn_cen {
  height: 40px;
  color: white;
  background-color: rgb(213, 75, 72);
  width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  border-radius: 8px;
  cursor: pointer;
}

.continue_btn_cen:hover {
  background-color: rgb(196, 46, 44);
}

.tableImg {
  height: 75px;
  width: 75px;
  margin: 2px;
}

.tdH_mrp {
  min-height: 85px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.w_75_mrp {
  width: 75%;
}

.w_25_mrp {
  width: 25%;
}

.lock_select {
  padding: 9px;
}


/* .d_none_mrp{
    display: block !important;
} */
.d_unset_mrp {
  display: none !important;
}

.scanJobImg {
  height: 125px;
  width: 120px;
  margin: 1px;
}

.scanJobImg2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.custom_scrollbar::-webkit-scrollbar {
  /* stroke-width: 5%; */
  /* width: 25px; */
  /* scrollbar-width: thin;  */
  /* scrollbar-color: #888 #f1f1f1; 
    overflow-y: auto; */
}

.custom_scrollbar::-webkit-scrollbar {

  scrollbar-width: thin;
}

.search_sug_line:hover {
  background-color: #e8e8e8;
  border: 0px;
  outline: none
}

.search_sug_line.active {
  background-color: #e8e8e8;
  color: black;
}

.msg_h_mrpbill {
  height: 25px;
}


.minW_search_mrp {
  min-width: 225px;
}

/* 
  .generatedBill{
    font-size: 22px;
    background-color: #6a6a6a;
    color: white;
    padding: 5px;
    border-radius: 8px;
    margin: 5px;
    min-width: 350px;
  } */

.lockerErrorMsg_mrp {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-left: 50px;
}

.fs_scanimg {
  font-size: 11px;
  line-height: 12px;
  height: 15px;
  width: 100%;
}






/* extra css */
.generatedBill {
  background-color: #f0f8ff;
  /* Light blue background */
  color: #004085;
  /* Dark blue text color */
  font-size: 1.5rem;
  /* Larger font size for prominence */
  font-weight: bold;
  /* Bold text */
  padding: 10px 20px;
  /* Padding around the text */
  border-radius: 8px;
  /* Rounded corners */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  /* Subtle shadow for depth */
  margin-top: 20px;
  /* Spacing from the top */
  margin-bottom: 20px;
  /* Spacing from the bottom */
  text-align: center;
  /* Centered text */
  display: inline-block;
  /* Ensures it doesn't stretch to full width */
  animation: fadeIn 2s ease-in-out;
  /* Smooth fade-in animation */
}

/* Optional: Animation for fading in */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.continue_btn_next {
  height: 40px;
  color: white;
  background-color: green;
  width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  border-radius: 8px;
  cursor: pointer;
}

.continue_btn_next:hover {
  background-color: rgb(45, 139, 45);
}


.minW_lockSelect {
  min-width: 160px;
}

.minW_CurrSelect {
  min-width: 100px;
}

.minH_erorr {
  min-height: 70px;
}

.pd5px_mrp {
  padding: 5.5px !important;
}

.b1_9898px {
  border: 1px solid #989898;
}


.d_grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  /* 4 columns for desktop */
  gap: 1rem;
  /* Gap between grid items */
}

.li_fs_mrp {
  font-size: 13px;
}

.mt_top_mrp_head {
  margin-top: 10px;
}

.min_h_92_mrp {
  min-height: 95px;
}

@media (max-width: 1024px) {
  .d_grid {
    grid-template-columns: repeat(2, 1fr);
    /* 2 columns */
  }
}

@media screen and (max-width:888px) {
  .currW_mrp {
    width: 190px;
  }

  .lockerErrorMsg_mrp {
    width: auto;
    padding-left: 0px;
  }

  .d_grid {
    grid-template-columns: repeat(2, 1fr);
    /* 2 columns */
  }
}

@media screen and (max-width:862px) {
  .minW_lockSelect {
    min-width: auto;
  }

  .minW_CurrSelect {
    min-width: auto;
  }

  .d_grid {
    grid-template-columns: repeat(2, 1fr);
    /* 2 columns */
  }
}

@media screen and (max-width:833px),
(max-width:808px),
(max-width:800px) {
  .lockerErrorMsg_mrp {
    width: auto;
    padding-left: 0px;
  }

  .currW_mrp {
    width: 150px;
  }

  .d_grid {
    grid-template-columns: repeat(2, 1fr);
    /* 2 columns */
  }
}

@media screen and (max-width:862px) {
  .minW_search_mrp {
    min-width: 180px;
  }

  .d_grid {
    grid-template-columns: repeat(2, 1fr);
    /* 2 columns */
  }
}

@media screen and (max-width:768px),
(max-width:810px) {
  .cust_name_title {
    padding-right: 5px;
  }

  .center_jl_mrp {
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }

  .tableImg {
    height: 55px;
    width: 55px;
    margin: 2px;
  }

  .pd_0 {
    padding: 4px !important;
  }

  .form-select {
    width: 60%;
    /* 60% width on larger screens */
  }

  .minW_search_mrp {
    min-width: 160px;
  }

  .d_grid {
    grid-template-columns: repeat(2, 1fr);
    /* 2 columns */
  }
}

@media screen and (max-width:876px) {
  .d_none_mrp {
    display: none !important;
  }

  .d_unset_mrp {
    display: unset !important;
  }

  .pd10_mrp {
    padding: 10px;
  }

}

@media screen and (max-width:791px) {
  .cust_name_title {
    padding-right: 10px;
    font-size: 18px;
  }

  .d_grid {
    grid-template-columns: repeat(2, 1fr);
    /* 2 columns */
  }

  .flex_column_mrp {
    flex-direction: column;
  }
}

@media screen and (max-width:736px) {
  .cust_name_title {
    padding-right: 10px;
    font-size: 16px;
  }

  .d_grid {
    grid-template-columns: repeat(2, 1fr);
    /* 2 columns */
  }

  .flex_column_mrp {
    flex-direction: column;
  }
}

@media screen and (max-width:720px) {
  .cust_name_title {
    padding-right: 5px;
  }

  .center_jl_mrp {
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }

  .tableImg {
    height: 55px;
    width: 55px;
    margin: 2px;
  }

  .pd_0 {
    padding: 4px !important;
  }

  .flex_Start_mrp {
    display: flex !important;
    flex-wrap: wrap !important;
    justify-content: flex-start !important;
    margin-top: 4px;
    gap: 15px;
  }


  .d_none_mrp {
    display: none !important;
  }

  .d_unset_mrp {
    display: unset !important;
  }

  .d_grid {
    grid-template-columns: repeat(2, 1fr);
    /* 2 columns */
  }

  .grid-item {
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
  }

  .flex_column_mrp {
    flex-direction: column;
  }

  /* Adjust dropdown list styling */
  .list-group {
    top: 133px;
  }

  .list-group-item {
    font-size: 14px;
    /* Adjust font size for better readability */
  }
}

@media screen and (max-width:500px),
(max-width:576px),
(max-width:620px) {

  .w_75_mrp2 {
    width: 75% !important;
  }

  .w_50_mrp2 {
    width: 50% !important;
  }

  .container_mrp {
    font-size: 12px;
  }

  .cust_name_title {
    font-size: 15px;
  }

  .tableImg {
    height: 35px;
    width: 35px;
    margin: 1px;
  }

  .d_none_mrp {
    display: none !important;
  }

  .d_unset_mrp {
    display: unset !important;
  }

  .min_h_92_mrp {
    min-height: auto;
  }

  /* .d_grid {
    display: grid !important;
    grid-template-columns: repeat(2, 1fr) !important; 
    gap: 1rem !important; 
  } */

  .grid-item {
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
  }

  .d_grid {
    grid-template-columns: repeat(1, 1fr);
    /* 1 column */
  }

  .flex_column_mrp {
    flex-direction: column;
  }

}

@media screen and (max-width:450px) {
  .d_none_mrp {
    display: none !important;
  }

  .d_unset_mrp {
    display: unset !important;
  }

  /* .d_grid {
        display: grid !important;
        grid-template-columns: repeat(2, 1fr) !important; 
        gap: 1rem !important; 
      } */
  .d_grid {
    grid-template-columns: repeat(1, 1fr);
    /* 1 column */
  }

  .grid-item {
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
  }

  .flex_column_mrp {
    flex-direction: column;
  }

  .w_100_mrp_scan {
    width: 100% !important;
  }

  .tableDiv_mrp {
    margin-top: 1rem;
  }

  .pd10_mrp {
    padding-top: 0px;
    padding-bottom: 0px;
  }

  .continue_btn_est {
    width: 105px;
  }

  .continue_btn_bill {
    width: 105px;
  }

  .mt_mrp {
    margin-top: 10px;
  }

  .list-group {
    top: 120px;
  }

  .min_h_92_mrp {
    min-height: auto;
  }

}

@media screen and (max-width:320px) {

  /* .d_grid {
    display: grid !important;
    grid-template-columns: repeat(2, 1fr) !important; 
    gap: 0.1rem !important; 
  } */
  .d_grid {
    grid-template-columns: repeat(1, 1fr);
    /* 1 column */
  }

  .flex_column_mrp {
    flex-direction: column;
  }

  .w_100_mrp_scan {
    width: 100% !important;
  }

  .tableDiv_mrp {
    margin-top: 1rem;
  }

  .pd10_mrp {
    padding-top: 0px;
    padding-bottom: 0px;
  }

  .continue_btn_est {
    width: 105px;
  }

  .continue_btn_bill {
    width: 105px;
  }

  .mt_mrp {
    margin-top: 10px;
  }

  .min_h_92_mrp {
    min-height: auto;
  }
}

.loader-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.loadingBarManage {
  color: #7d7f85 !important;
}



.remarkWidth_mrp {
  width: 60% !important;
}

.date_mrp {
  width: 16% !important;
}

.date_mrp .MuiInputBase-input {
  padding: 8px !important;
}

.remarkWidth_mrp .MuiInputBase-input {
  padding: 8px !important;
}

/* .remarkWidth_mrp .MuiFormLabel-root{
  position: absolute;
  top: -7px;
} */


@keyframes scanner-line {
  0% {
    top: 0;
  }

  50% {
    top: 100%;
  }

  100% {
    top: 0;
  }
}

.animate-scanner-line {
  animation: scanner-line 4s infinite linear;
  position: absolute;
  top: 0;
}

.qrbox_mrp {
  height: 7rem;
  width: 7rem;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.5rem;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
  position: relative;
  overflow: hidden;
}