.facd {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    font-family: "Public Sans Light" !important;
}

.fs_facd {
    font-family: "Public Sans Light" !important;
}

.bs_facd {
    box-shadow: '0px 4px 18px 0px rgba(47, 43, 61, 0.1)' !important;
}

.factoryDashboard {
    .apexcharts-tooltip {
        border-radius: 10px;
    }
}