.container{
    border: 1px solid #e8e8e8;
    width: 100%;
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    min-height: 120px;
    height: 100%;
    margin-bottom: 3rem;
    font-size: 14px;
    font-family: Calibri;
    font-weight: bold;
}

.block1f3{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 5px;
    height: 100%;
    min-height: 120px;
    font-weight: normal;
}
.block2f3{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 5px;
    /* height: 100%;
    min-height: 120px; */
}

.linesf3{
    font-size: 15px;
    /* line-height: 12px0; */
    line-height: 130%;
}

@media print {
    .block1f3{
        min-height: auto !important;
    }
    .container{
        min-height: auto !important;
    }
}