.main_ip_ms{
    display: flex;
    justify-content: center;
    align-items: center;
}
.container_ip_ms{
    max-width: 835px !important;
    width: 100%;
    box-sizing: border-box;
    font-size: 12px;
}
.fs_invp_ms{
    font-size: 12px;
}
.pheaddp10{
    /* height: 40px; */
    background-color: #989898;
    font-size: 25px;
    font-weight: bold;
    color: white;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 5px;
    margin-bottom: 3px;

    font-size: 20px;
    background-color: #939292;
    color: #FFF;
    padding: 4px 0px 5px 6px;
    font-weight: bold;
}
.subheaderdp10{
    display: flex;
    border-top: 1px solid #e8e8e8;
    border-bottom: 1px solid #e8e8e8;
}
.subdiv1dp10{
    width: 35%;
    padding-top: 5px;
    padding-bottom: 5px;
    /* min-height: 7rem; */
}
.subdiv2dp10{
    width: 35%;
    padding-top: 5px;
    padding-bottom: 5px;
    /* min-height: 7rem; */
}
.subdiv3dp10{
    width: 30%;
    padding-top: 5px;
    padding-bottom: 5px;
    /* min-height: 7rem; */
}
.fsgdp10{
    font-size: 12px;
    line-height: 15px;
}
.border_end_ip_ms{
    border-right: 1px solid #dddddd;
}
.border_top_ip_ms{
    border-top: 1px solid #dddddd;
}
.border_bottom_ip_ms{
    border-bottom: 1px solid #dddddd;
}
.border_start_ip_ms{
    border-left: 1px solid #dddddd;
}

.col1_ip_ms{
    width: 3%;
}
.col2_ip_ms{
    width: 9%;
}
.col3_ip_ms{
    width: 7%;
}
.col4_ip_ms{
    width: 7%;
}
.col5_ip_ms{
    width: 6%;
}
.col6_ip_ms{
    width: 6%;
}
.col7_ip_ms{
    width: 6%;
}
.col8_ip_ms{
    width: 6%;
}
.col9_ip_ms{
    width: 6%;
}
.col10_ip_ms{
    width: 6%;
}
.col11_ip_ms{
    width: 7%;
}
.col12_ip_ms{
    width: 8%;
}
.col13_ip_ms{
    width: 7%;
}
.col14_ip_ms{
    width: 7%;
}
.col15_ip_ms{
    width: 9%;
}


/* value space and direction */
.centerdp10{
    display: flex;
    justify-content: center;
    align-items: center;
}
.center_sdp10{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 1px;
}
.end_dp10{
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
}
.start_dp10{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.pe_ip_ms{
    padding-right: 2px;
}
.ps_ip_ms{
    padding-left: 2px;
}

.fsgdp7{
    font-size: 12px;
}

.hcompdp7{
    page-break-inside: avoid;
}

/* borders */
.bradp7{
    border: 1px solid #e8e8e8;
}
.brtdp7{
    border-top: 1px solid #e8e8e8;
}
.brdp7{
    border-right: 1px solid #e8e8e8;
}
.bldp7{
    border-left: 1px solid #e8e8e8;
}
.brbdp7{
    border-bottom: 1px solid #e8e8e8;
}

.subheaddiv_1{
    width: 40%;
    border-right: 1px solid #e8e8e8;
    padding: 5px;
}
.footer_bank{
    border: 1px solid #e8e8e8;   
    min-height: 6rem;   
}

@media print {
    .fsgdp7{
        font-size: 10px !important;
    }
    .hcompdp7{
        page-break-inside: avoid;
    }
    .container_ip_ms{
        max-width: 835px !important;
        width: 100%;
        box-sizing: border-box;
        font-size: 10px;
    }
    .fs2_ip_ms{
        font-size: 12px !important;
    }
}