/* *{
    border-collapse: collapse !important;
    word-break: break-all;
    box-sizing: border-box;
    line-height: 100%;
} */
.container2A {
    display: flex;
    font-family: Calibri;
    /* margin-left: 1rem;
    margin-top: 1rem; */
}

.mainbag2A {
    width: 347px;
    height: 367px;
    border: 1px solid black;
    border-radius: 8px;
    margin-top: 1.7rem;
    margin-left: 1.3rem;
    font-size: 15px;
}

.print2AMaterialCG {
    display: flex;
}

.print2A_header_bagInfoPart1 {
    display: flex;
    border-bottom: 1px solid black;
    font-weight: bold;
    justify-content: space-between;
    align-items: center;
    width: 270px;
    font-size: 12px;
    height: 19px;

}

.print2AJobNo {
    padding: 1px;
}

.print2AJobNo1 {
    width: 39px;
    padding: 2px;
    padding-left: 2px;
    padding-right: 2px;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
}

.print2AJobNo1A {
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px;
    padding-left: 2px;
    padding-right: 2px;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
}

.print2AJobNo1a {
    width: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px;
    border-right: 1px solid;
    border-bottom: 1px solid;
}

.print2AMaterial {
    width: 270px !important;
    display: flex;
    flex-direction: column;
    height: 60px;
}

.print2AMaterialVal {
    width: 35px;
    /* border-right: 1px solid black; */
}

.print2AMaterialPart1 {
    display: flex;
}

/* .print1AMaterialPart2{
    display: flex;
} */
.print2ACust {
    width: 40px;
    /* border-right: 1px solid black; */
}

.cst2A {
    width: 72px;
    height: 20px;
    border: 1px solid;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 11px;
    border-top: 0px;
    border-left: 0px;

}

.g2A {
    width: 42px;
    height: 20px;
    border: 1px solid;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 13px;
    font-weight: bold;
    border-top: 0px;
    border-left: 0px;
}

.custCode2A {
    width: 61px;
    height: 20px;
    border: 1px solid;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 13px;
    border-top: 0px;
    border-left: 0px;
}

.custHead2A {
    height: 20px;
    border: 1px solid;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-top: 0px;
    border-left: 0px;
    padding-left: 3px;
    line-height: 10px;
    width: 25px;
}

.print2ACust1A2 {
    display: flex;
    width: 145px;
}

.print2ACust1a {
    display: flex;
    width: 145px;
}

.print2AMaterial {
    display: flex;
}

.print2ACust1A {
    display: flex;
    width: 145px;
}

.print2AJobNo2 {
    display: flex;
}

.print2A_header_bagImgPart2 {
    width: 75px;
    height: 79px;
    border-left: 1px solid;
    border-bottom: 1px solid;
}

.print2A_header {
    display: flex;
    height: 77px;
}

.print2Adia {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 270px;
    height: 30px;
    border-bottom: 1px solid;
}

.print2Astone {
    display: flex;
    justify-content: center;
    width: 300px;
    border-bottom: 1px solid;
}

#print2AImg {
    height: 75px !important;
    width: 70px !important;
    margin-left: 2px;
    margin-top: 2px;
    /* margin: 0.5rem; */
}

.print2AMidHead {
    display: flex;
    border-bottom: 1px solid;
    justify-content: space-between;
    align-items: center;
    width: 302px;
    height: 33px;
    font-size: 14px;
}
.child2A{
    display: flex;
    justify-content: space-around;
    border-top: 1px solid #989898;
    height: 12px;
    width: 63px;
  }
  .whA2A{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 63px;
    height: 14px;
  }
.print2APCSWT {
    display: flex;
    width: 60px;
    /* flex-direction: column; */
    justify-content: space-around;
    align-items: center;
    border-top: 1px solid;
}
.pcswtSet2A{
    font-size: 12px;
    /* padding-top: 3px; */
    border-right: 1px solid rgb(152, 152, 152);
    width: 22px;
    height: 12px;
  }
.ACTUAL2A {
    display: flex;
    flex-direction: column;
}

.print2ARM {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 65px;
    height: 100%;
    padding-left: 2px;
    padding-right: 2px;
    border-right: 1px solid;
    line-height: 8px;
}

.print2ARM1 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 62px;
    /* padding-left: 2px;
    padding-right: 2px; */
    border-right: 1px solid;
}

.print2APCSBorder {
    /* border-right: 1px solid;  */
    width: 29px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.print2AMidBody {
    height: 15px;
    display: flex;
    border-bottom: 1px solid;
    /* justify-content: space-between; */
    width: 304px;
    font-size: 14px;
}

.RMW2A {
    width: 104px !important;
}

.midpart2A {
    height: 287px;
    width: 304px;
    margin-top: 1px;

}

.print2AtableBarcode {
    display: flex;
    /* flex-direction: column; */
}

.barcodeprint2A {
    width: 40px;
    left: -2px;
    top: 6px;
    position: relative;
    /* width: 45px;
    left: -38px;
    position: relative; */
}

.barcodeSetPrint2A {
    border-left: 1px solid;
}
.print2AMaterialCG{
    display: flex;
    /* word-break: break-all; */
}
.sizename2A {
    display: flex;
    width: 70px;
    font-size: 11.8px;
    border-right: 1px solid;
    justify-content: flex-start;
    align-items: center;
    padding: 2px;
    height: 100%;
}

.pcswt2A {
    width: 70px;
    border-right: 1px solid;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pcs2A {
    width: 25px;
    height: 14px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border-right: 1px solid;
    padding-right: 2px;
}

.actualPcsWt2A {
    display: flex;
    font-size: 12px;
    justify-content: space-between;
    align-items: center;
    width: 70px;
}

.EmptyPcsWt2A {
    display: flex;
    font-size: 12px;
    justify-content: space-around;
    align-items: center;

}

.emptyWt2A {
    width: 30px;
    border-right: 1px solid;
}

.emptyvals2A {
    width: 30px;
    border-right: 1px solid;
}

.print2A {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 2rem;
}

.bordered-div {
    width: 30px;
    /* Set the desired width */
    height: 17px;
    /* Set the desired height */
    border: 1px solid;
    /* Apply a black border with a thickness of 1 pixel */
    border-bottom: 0px;
    border-left: 0px;
}

.FIND2A {
    width: 174px !important;
    font-size: 11px;
}
.barcodeprint2A >  .barcode_sticker{
    box-sizing: border-box;
    display: block;
    height: 7.529167mm !important;
    margin: 0 auto;
    max-width: 140.79375mm;
    object-fit: cover;
    position: absolute;
    right: -23.51875mm !important;
    top: 28.310416667mm !important;
    transform: translate(0) rotate(90deg) !important;
    width: 56.275mm !important;
    z-index: 1;
  }
  .fonts2A{
    font-size: 12px;
    font-weight: bold;
  }

  .head2Achange{
    width: 300px;
    border-right: 0px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .total2Afont{
    font-size:  10px;
    line-height: 7px;
  }
  .pad1_2A{
    padding-right: 1px;
  }
@media print {

 .mainbag2A{
    margin-top: 0;
 }
    .mainbag2A:nth-child(6n+6) {
        page-break-after: always;
    }

    .mainbag2A:nth-child(6n+1), .mainbag2A:nth-child(6n+2), .mainbag2A:nth-child(6n+3){
        position: relative;
        top: 17px;
      }

      .mainbag2A:nth-child(6n+4), .mainbag2A:nth-child(6n+5), .mainbag2A:nth-child(6n+6){
        position: relative;
        top: 34px;
      }

}