/* * {
    box-sizing: border-box;
    word-break: break-all;
    line-height: 100%;
} */

.bg18A {
    height: 351px;
    width: 340px;
    border: 2px solid black;
    border-radius: 4px;
    /* margin-top: 2.6rem;
    margin-left: 2.1rem; */
    margin-top: 2.6rem;
    margin-left: 1.5rem;
    font-family: Calibri;
    /* margin-top: 2.5rem;
    margin-left: 2rem; */
}

.head18A {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #989898;
    height: 98px;
}

.headInfo18A {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.job18A {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #989898;
    height: 16px;
    font-weight: bold;
    align-items: center;
}

.fsb18Ajob {
    font-size: 13px !important;
}

.img18A {
    height: 98px;
    width: 85px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-left: 1px solid #989898;
}

.mate18A {
    display: flex;
    justify-content: space-between;
    height: 33px;
    border-bottom: 1px solid #989898
}

.ins18A {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    height: 50px;
    padding-left: 2px;
}

.cust18Amate {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 62.75px;
    border-right: 1px solid #989898;
}

.br18A {
    border-right: none !important;
}

.cpara18A {
    font-size: smaller;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    color: #989898;
}

.cparaVal18A {
    font-size: 9.5px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-weight: bold;
}

.fs18A {
    font-size: 14px !important;
}

/*table */
.mateHead18A {
    height: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #989898;
}

.mateBody18A {
    height: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #989898;
}

.fsh18A {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    font-weight: bold;
    height: 15px;
}

.mateTable18A {
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 211px;
    position: relative;
}

.code18A {
    width: 110px;
    border-right: 1px solid #989898;
}

.size18A {
    width: 60px;
    border-right: 1px solid #989898;
}

.pcs18A {
    width: 35px;
    border-right: 1px solid #989898;
}

.wt18A {
    width: 30px;
    border-right: 1px solid #989898;
}

.body18A {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 8px;
    height: 15px;
    word-break: break-all;
    line-height: 8px;
    padding-right: 2px;
}

.bodycode18A {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 1px;
    padding-top: 1px;
    font-size: 8px;
    line-height: 7px;
    height: 15px;
    word-break: break-all;
    /* display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 1px;
    padding-top: 1px;
    font-size: 10px;
    height: 15px;
    word-break: break-all;
    line-height: 130%;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden; */
}

.footer18A {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.dia18A {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-right: 1px solid #989898;
    border-left: 1px solid #989898;
    height: 38px;
    width: 65px;
}

.misc18A {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-right: 1px solid #989898;
    border-left: 1px solid #989898;
    height: 38px;
    width: 40px;
}

.fs18A {
    font-size: 9.5px !important;
    word-break: break-all;
    line-height: 8px;
    font-weight: bold;
}

.brb18A {
    border-bottom: 1px solid #989898;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 16.5px;
}

.barcode18A>.barcode_sticker {
    width: 200px !important;
    height: 20px !important;
    object-fit: cover;
    transform: rotate(90deg) !important;
    position: absolute;
    top: 100px !important;
    left: 13.55rem !important;
    /* width: 200px;
    height: 30px;
    object-fit: cover;
    transform: rotate(90deg);
    position: absolute;
    top: 100px;
    left: 17.65rem !important; */
}

.barcode18AD>.barcode_sticker {
    width: 200px !important;
    height: 20px !important;
    object-fit: cover;
    transform: rotate(90deg) !important;
    position: absolute;
    top: 100px !important;
    left: 13.55rem !important;
    /* width: 200px;
    height: 30px;
    object-fit: cover;
    transform: rotate(90deg);
    position: absolute;
    top: 85px;
    left: 17.65rem !important; */
}
.barcode18AD{
    width: 35px;
}
.Dmate18A {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #989898;
    height: 30px;
}

.header_18A {
    display: flex;
    justify-content: center;
    align-items: center;
}

.test18A {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    word-break: break-all;
    width: 100%;
    height: 20px;
    border-bottom: 1px solid #989898;
    padding-left: 3px;
}

.head18AD {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 120px;
    /* border-bottom: 1px solid; */
}

.tron18A {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 25px;
    font-size: 12px;
}

.p18AD {
    border-right: 1px solid #989898;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    color: #989898;
    width: 41.66px;
    border-bottom: 1px solid #989898;
    line-height: 11px;
}

.img18AD {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
    width: 114px;
    border-left: 1px solid #989898;
    border-bottom: 1px solid #989898;
}

.met18AD {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding-left: 2px;
    color: #989898;
    font-weight: 700;
    height: 30px;
    border-bottom: 1px solid #989898;

}

.headInfo18AD {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 222px;
}

.cvd18A {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    position: relative;
}

.stvi18A {
    display: flex;
    flex-direction: column;
}

.one18A {
    display: flex;
    height: 30px;
    border-bottom: 1px solid #989898;
    width: 222px;
    color: #989898;
    font-weight: bold;
    padding-left: 2px;

}

.cvdtest18A {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding-left: 2px;
    width: 78px;
    height: 60px;
    border-left: 1px solid #989898;
    border-bottom: 1px solid #989898;
    border-right: 1px solid #989898;
}

.dbar18A {
    top: 5;
}

.main18A {
    display: flex;
    width: 300px;
    border-right: 1px solid #989898;
    flex-direction: column;
    height: 167px;
}

.theadrow18A {
    height: 13px;
    width: 300px;
    border-bottom: 1px solid #989898;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.throw18A {
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid #989898;
    height: 100%;
    font-weight: bold;
    font-size: 9px;
}

.dept18Aw {
    width: 40px;
}

.ap18Aw {
    width: 30px;
}

.issue18Aw {
    width: 40px;
}

.work18Aw {
    width: 52px;
}

.br177Anone {
    border-right: 0px;
}

.print18Asame {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 2rem;
    font-size: 12px;
}

#img18A {
    height: 70px !important;
    width: 80px !important;
}

#img18AD {
    height: 115px !important;
    width: 110px !important;
}

.d_none {
    display: none !important;
}
.code18Ad{
    box-sizing: border-box !important;
    width: 29.1mm !important;
    display: -webkit-box !important;
    -webkit-line-clamp: 1 !important;
    -webkit-box-orient: vertical !important;
    overflow: hidden !important;
    line-height: 140% !important;
}
@media print {

    /* .bg18A{
        margin-top: 0;
    }

    .bg18A:nth-child(6n+6) {
        page-break-after: always !important;
    }

    .bg18A:nth-child(6n+1), .bg18A:nth-child(6n+2), .bg18A:nth-child(6n+3){
        position: relative;
        top: 30px;
      }
  
      .bg18A:nth-child(6n+4), .bg18A:nth-child(6n+5), .bg18A:nth-child(6n+6){
        position: relative;
        top: 60px;
      } */

      .bg18A:nth-child(6n+6){
        page-break-after: always;
      }

      .bg18A:nth-child(6n+1), .bg18A:nth-child(6n+2), .bg18A:nth-child(6n+3){
        position: relative;
        top: 0px !important;
      }

      .bg18A:nth-child(6n+4), .bg18A:nth-child(6n+5), .bg18A:nth-child(6n+6){
        position: relative;
        top: -10px !important;
      }

}