/* * {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    word-break: break-all;
    line-height: 100%;
} */
.containerWD6A{
    margin: 0px;
    height: 31.2rem;
    width: 350px;
    /* margin-top: 1rem; */
    margin-left: 1rem;
    font-family: Calibri;
}
.container6A {
    width: 350px;
    height: 463px;
    border: 2px solid black;
    border-radius: 12px;
    /* margin-top: 1rem;
    margin-left: 2rem; */
    /* margin-top: 5rem;
    margin-left: 2rem; */
    font-size: 12px;
}

.jobInfo6A {
    width: 345px;
    height: 102px;
    border-bottom: 1px solid #989898;
    display: flex;
    justify-content: space-between;
}

.jobInfo6Aheader {
    width: 235px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-right: 1px solid #989898;
}

.jobName6A {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #989898;
    height: 21px;
    /* width: 230px; */
}
.h6A{
    display: flex;
    align-items: center;
    height: 16px;
}
.borderRight6A {
    border-right: 0px !important;
}

.jobName6AD {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #989898;
    height: 24px;
    
    align-items: end;
}

.job6Ahww {
    border-right: 1px solid #989898;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 60.5px;
    line-height: 8px;
    font-size: 9.5px;
    /* padding-top: 2px; */
    padding-left: 1px;
}

.job6Afooter {
    display: flex;
    width: 346px;
    height: 87px;
}

.job6AfooterDesc {
    display: flex;
    flex-direction: column;
    width: 230px;
    border-right: 3px solid #989898;
}

.cust6A {
    height: 33px;
    font-size: 12px;
    display: flex;
    line-height: 10px;
    border-bottom: 1px solid #989898
}

.f6A {
    font-size: 11px;
    padding-left: 2px;
    padding-top: 2px;
    line-height: 10px;
}

.f6Ared {
    color: red;
}

.main6A {
    width: 349px;
    height: 278px;
    border-bottom: 2px solid #989898;
    border-top: 1px solid #989898;
    display: flex;
}


.required6A {
    width: 347.57px;
    border-right: 1px solid #989898;
}

.issue6A {
    width: 76px;
}
.dflex6A{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 78px;
    height: 20px;
}
.pflex6A{
    width: 38px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 11px;
}
.lbh6A {
    height: 20px;
    border-bottom: 1px solid #989898;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #c0bdbd;
}

.main6Ahead {
    display: flex;
    justify-content: space-between;
    height: 20px;
}

.aside6A {
    display: flex;
    justify-content: space-between;
    height: 20px;
}
.h6A{
    height: 32px;
}
.right6Aa {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 107px;
    border-right: 1px solid #989898;
    border-bottom: 1px solid #989898;
    /* padding: 1px; */
    padding-left: 2px;
    line-height: 8.5px;
    /* padding-top: 2px;
    padding-bottom: 7px; */
}

.right6Ab {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 80px;
    border-right: 1px solid #989898;
    border-bottom: 1px solid #989898;
    line-height: 9px;
    padding-left: 2px;
    font-size: 10px;
}

.right6Ac {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 35px;
    border-right: 1px solid #989898;
    border-bottom: 1px solid #989898;
    padding-right: 2px;
    font-size: 10px;
}

.right6Ad {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 45px;
    padding-right: 2px;
    /* border-right: 1px solid #989898; */
    border-bottom: 1px solid #989898;
    font-size: 10px;
}

.imgSize6A {
    width: 110px;
    height: 102px;
}

#img6A {
    width: 100px !important;
    height: 97px !important;
}

.print6Aflex {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 2rem;
}

.code6A{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 16px;
}

.qrcodebg6A > .qrcodegen{
    height: 80px !important;
    width: 112px !important;
}
@media print {
    
    .containerWD6A:nth-child(4n+4){
        page-break-after: always ;
    }
    .containerWD6A:nth-child(4n+1), .containerWD6A:nth-child(4n+2){
        position: relative;
        top: 30px;

        left: 20px;
    }
    .containerWD6A:nth-child(4n+3), .containerWD6A:nth-child(4n+4){
        position: relative;
        top: 60px;
        left: 20px;
    }
}
@media print {

    /* .print1A:nth-child(6n+1) {
      page-break-after: always;
      margin-top: 1rem;
    } */
    /* .container6A {
        margin-left: 2.5rem;
        margin-top: 4.7rem;
    } */

    /* .container6A:nth-child(4n+1) {
        page-break-before: always;
    } */
    /* .containerWD6A:nth-child(4n+4){
        page-break-after: always !important;
    }
    .containerWD6A {
        margin-top: 0;
        margin-left: 10px;
    }

      .containerWD6A:nth-child(4n+1), .containerWD6A:nth-child(4n+2){
        position: relative;
        top: 40px;
      }

      .containerWD6A:nth-child(4n+4), .containerWD6A:nth-child(4n+3){
        position: relative;
        top: 80px;
      } */

      /* .containerWD6A:nth-child(4n+4) {
        page-break-after: always !important;
    } */

    /* .containerWD6A {
        margin-top: 0;
        margin-left: 10px;
    }

    .containerWD6A:nth-child(4n+1),
    .containerWD6A:nth-child(4n+2) {
        position: relative;
        top: 25px;
    }

    .containerWD6A:nth-child(4n+4),
    .containerWD6A:nth-child(4n+3) {
        position: relative;
        top: 40px;
    } */

    /* .containerWD6A:nth-child(4n+1),
    .containerWD6A:nth-child(4n+3) {
        position: relative;
        left: 10px;
    } */

}

