/* *{
    border-collapse: collapse !important;
    word-break: break-all;
    box-sizing: border-box;
    line-height: 100%;
    line-height: 100%;
} */
.lh1Ady{
        line-height: 8px;

}
.container1A{
    display: flex;
    font-family: Calibri;
    /* margin-left: 1rem;
    margin-top: 1rem; */
    /* word-break: break-all; */
}
.mainbag1A{
    width: 347px;
    height: 367px;
    border: 1px solid black;
    border-radius: 8px;
    margin-left: 1.3rem;
    font-size: 15px;
    margin-bottom: 15px
}
.print1AMaterialCG{
    display: flex;
    /* word-break: break-all; */
}
.print1A_header_bagInfoPart1{
    display: flex;
    border-bottom: 1px solid black;
    font-weight: bold;
    justify-content: space-between;
    width: 270px;
    font-size: 12px;
    height: 19px;
    align-items: center;
    padding: 3px;

}
.print1AJobNo{
    padding: 1px;
}
.print1AJobNo1{
    width: 39px;
    padding: 2px;
    padding-left: 2px;
    padding-right: 2px;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
}
.print1AJobNo1A{
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px;
    padding-left: 2px;
    padding-right: 2px;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
}
.print1AJobNo1a{
    width: 75px; 
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px;
    border-right: 1px solid;
    border-bottom: 1px solid;
}
.print1AMaterial{
    width: 270px !important;
    display: flex;
    flex-direction: column;
    height: 60px;
}
.print1AMaterialVal{
    width: 35px;
    /* border-right: 1px solid black; */
}
.print1AMaterialPart1{
    display: flex;
}
/* .print1AMaterialPart2{
    display: flex;
} */
.print1ACust{
    width: 40px;
    /* border-right: 1px solid black; */
}
.cst1A{
    width: 72px;
    height: 20px;
    border: 1px solid;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 11px;
    border-top: 0px;
    border-left: 0px;
    
}
.g1A{
    width: 42px;
    height: 20px;
    border: 1px solid;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 13px;
    font-weight: bold;
    border-top: 0px;
    border-left: 0px;
}
.custCode1A{
    width: 61px;
    height: 20px;
    border: 1px solid;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 13px;
    border-top: 0px;
    border-left: 0px;
}
.custHead1A{
    width: 74px;
    height: 20px;
    border: 1px solid;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 0px;
    border-left: 0px;
}
.print1ACust1A2{
    display: flex;
    width: 145px;
}
.print1ACust1a{
    display: flex;
    width: 145px;
}
.print1AMaterial{
    display: flex;
}
.print1ACust1A{
    display: flex;
    width: 145px; 
}
.print1AJobNo2{
    display: flex;
}
.print1A_header_bagImgPart2{
    width: 75px;
    height: 79px;
    border-left: 1px solid;
    border-bottom: 1px solid;
}
.print1A_header{
    display: flex;
    height: 77px;
}
.print1Adia{
    display: flex;
    justify-content: center;
    width: 270px;
    height: 30px;
    border-bottom: 1px solid;
}
.print1Astone{
    display: flex;
    justify-content: center;
    width: 300px;
    border-bottom: 1px solid;
}
#print1AImg{
    height: 75px !important;
    width: 70px !important;
    margin-left: 2px;
    margin-top: 2px;
    /* margin: 0.5rem; */
    /* margin: 0.5rem; */
}
.print1AMidHead{
    display: flex;
    border-bottom: 1px solid;
    justify-content: space-between;
    width: 303px;
    height: 28px;
    font-size: 14px;
    padding-top: 2px;
}
.print1APCSWT{
    display: flex;
    width: 60px;
    /* flex-direction: column; */
    justify-content: space-around;
    align-items: center;
    border-top: 1px solid;
}
.ACTUAL1A{
    display: flex;
    flex-direction: column;
}
.print1ARM{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 65px ;
    padding-left: 2px;
    padding-right: 2px;
    border-right: 1px solid;
}
.print1ARM1{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 62px;
    /* padding-left: 2px;
    padding-right: 2px; */
    border-right: 1px solid;
}
.print1APCSBorder{
    /* border-right: 1px solid;  */
    width: 29px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.print1AMidBody{
    height: 15px;
    display: flex;
    border-bottom: 1px solid;
    /* justify-content: space-between; */
    width: 304px;
    font-size: 14px;
}
.RMW{
    width: 104px !important;
}
.RMW5{
    width: 14.5rem !important;
}
.midpart{
    height: 269px;
    width: 304px;
    margin-top: 1px;

}.print1AtableBarcode{
    display: flex;
    /* flex-direction: column; */
}
.barcodeprint1A{
    width: 40px;
    left: -2px;
    position: relative;
}
.barcodeSetPrint1A{
    border-left: 1px solid;
}
.sizename1A{
    display: flex;
    width: 70px;
    font-size: 11.8px;
    border-right: 1px solid;
    justify-content: center;
    align-items: center;
    padding: 2px;
}
.pcswt1A{
    width: 70px;
    border-right: 1px solid;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.pcs1A{
    width: 30px;
    height: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid;
}
.actualPcsWt{
    display: flex;
    font-size: 12px;
    justify-content: space-around;
    align-items: center;
}
.EmptyPcsWt{
    display: flex;
    font-size: 12px;
    justify-content: space-around;
    align-items: center;

}
.emptyWt{
    width: 30px;
    border-right: 1px solid;
}
.emptyvals{
    width: 30px;
    border-right: 1px solid;
}
.print1A{
    display: flex;
    flex-wrap: wrap;
    /* margin-bottom: 2rem; */
    /* font-size: 12px;
    margin-top: -7px; */
}
.bordered-div {
    width: 30px; /* Set the desired width */
    height: 17px; /* Set the desired height */
    border: 1px solid; /* Apply a black border with a thickness of 1 pixel */
    border-bottom: 0px;
    border-left: 0px;
  }
  .actual1Aflex{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-right: 1px solid black;
    width: 63px;
    height: 25px;
  }
  .child1A{
    display: flex;
    justify-content: space-around;
    border-top: 1px solid #989898;
    height: 12px;
    width: 63px;
  }
  .whA1A{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 63px;
  }
 .pcswtSet1A{
    font-size: 12px;
    /* padding-top: 3px; */
    border-right: 1px solid rgb(152, 152, 152);
    width: 22px;
    height: 12px;
  }
  .barcodeprint1A >  .barcode_sticker{
    box-sizing: border-box;
    display: block;
    height: 7.529167mm !important;
    margin: 0 auto;
    max-width: 140.79375mm;
    object-fit: cover;
    position: absolute;
    right: -23.51875mm !important;
    top: 28.310416667mm !important;
    transform: translate(0) rotate(90deg) !important;
    width: 56.275mm !important;
    z-index: 1;
  }

.fonts1A{
    font-size: 12px;
    font-weight: bold;
}

@media print {
      .mainbag1A:nth-child(6n+6){
        page-break-after: always;
      }

      .mainbag1A:nth-child(6n+1), .mainbag1A:nth-child(6n+2), .mainbag1A:nth-child(6n+3){
        position: relative;
        top: 17px;
      }

      .mainbag1A:nth-child(6n+4), .mainbag1A:nth-child(6n+5), .mainbag1A:nth-child(6n+6){
        position: relative;
        top: 34px;
      }
   
      .mainbag1A{
  
        margin-bottom: 0;
    }
    } 

    /* {print1A} */