.detailPrint2 *{
    word-break: normal;
    font-size: 11.5px;
    font-family: Calibri;
}

.print_sec_sum4 *{
    font-size: 14px !important;
}

.data p{
    word-break: break-all;
}

.word_break *{
    word-break: break-all;
}

.sr {
    width: 4%;
    min-width: 4%;
}

.pad_1 p{
    padding: 2px;
}

.design {
    width: 11%;
    min-width: 11%;
}

.diamond {
    width: 23%;
    min-width: 23%;
}

.metal {
    width: 24%;
    min-width: 24%;
}

.stone {
    width: 13%;
    min-width: 13%;
}

.other {
    width: 8%;
    min-width: 8%;
}

.labour {
    width: 8%;
    min-width: 8%;
}

.total, .cgstNumber {
    width: 9%;
    min-width: 9%;
}

.totalWord{
    width: 15%;
    min-width: 15%;
}

.cgst{
    width: 91%;
    min-width: 91%;
}


@media print {
    .print_sec_sum4 {
        display: none !important;
    }

    .detailPrint2 *{
        font-size: 8px;
    }
    
}