.container_inv2{
    position: absolute;
    height: -webkit-fill-available;
    width: 100% !important;
    width: 52.083vw !important; 
    /* width: 1000px !important; */
    box-sizing: border-box;
    padding: 10px;
    margin: 1rem auto;
    letter-spacing: 0.2px; 
    font-family: Calibri, sans-serif !important;
    color: #000;
}

.SpaceAtBtom {
    padding-bottom: 100px;
}

.headlineJL {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;   
    height: 35px;
    background-color: #939292;
    color: white;
    font-size: 30px !important;
    line-height: 120%;
    font-family: calibri;
    padding-left: 10px;
    margin-bottom: 7px;
}

.cmpnyLogo {
    min-width: 85px;
    height: 85px;
}
.cmpntBrder {
    border-top: 1px solid #cccccc;
    margin-bottom: 10px;
}

.disflx{
    display: flex;
}

.w90inOld{
    width: 91%;
}
.col1_inv2{
    width: 9%;
    padding: 4px;
}

.col2_inv2{
    width: 14%;
    padding: 4px 3px;
}
.col3_inv2{
    width: 10%;
    padding: 4px 1px;
}
.col4_inv2{
    width: 9.50%;
    padding: 4px;
}
.col5_inv2{
    width: 11.50%;
    padding: 4px;
}
.col6_inv2{
    width: 10.50%;
    padding: 4px;
}
.col7_inv2{
    width: 11%;
    padding: 4px;
}
.col8_inv2{
    width: 10%;
    padding: 4px;
}
.col9_inv2{
    width: 10%;
    padding: 4px;
}
.col10_inv2{
    width: 10%;
    padding: 4px;
}
.col11_inv2{
    width: 12.10%;
    padding: 4px;
}


.spveheit {
    height: 200px;
}
.spveheit1 {
    height: 32px;
}


.Sucol2_inv2{
    width: 18%;
    padding: 4px;
}
.Sucol3_inv2{
    width: 10.90%;
    padding: 4px;
}
.Sucol4_inv2{
    width: 11.60%;
    padding: 4px;
}
.Sucol5_inv2{
    width: 13.50%;
    padding: 4px;
}
.Sucol6_inv2{
    width: 12.50%;
    padding: 4px;
}
.Sucol7_inv2{
    width: 10.90%;
    padding: 4px;
}
.Sucol8_inv2{
    width: 10.10%;
    padding: 4px;
}
.Sucol9_inv2{
    width: 9.90%;
    padding: 4px;
}
.Sucol10_inv2{
    width: 10.50%;
    padding: 4px;
}
.Sucol11_inv2{
    width: 13.10%;
    padding: 4px;
}



.spfntbH{
    font-size: 12px;
    line-height: 13px;
}
.spfntCen{
    text-align: center;
}
.spVefntCen{
    align-content: center;
}
.spfnted{
    text-align: right;
}
.spfntBld {
    font-weight: bold;
    text-shadow: 0.2px 0 0 currentColor;
    letter-spacing: 0.4px;
}  

.spbrRht{
    border-right: 2px solid #000000;
}
.spbrlFt{
    border-left: 2px solid #000000;
}
.brBtom{
    border-bottom: 2px solid #000000;
}
.brTpm{
    border-top: 2px solid #000000;
}
.brbxAll{
    border: 2px solid #000000;
}

.w30_inv2{
    width: 15%;
    padding-left: 4px;
}
.w1_inv2{
    width: 85%;
    min-height: 32px;
    padding-left: 4px;
}
.wdthHd{
    width: 40%;
}
.wdthHd1{
    width: 60%;
}

.w1_invold{
    width: 70%;
    min-height: 70px;
    padding-left: 4px;
}
.w2_invold{
    width: 30%;
    min-height: 70px;
}
.spacLft{
    margin-left: 10px;
}
.spacLft1{
    margin-left: 31px;
}
.spacLft2{
    padding-left: 5px;
}
.spacTpm{
    margin-top: 5px;
}
.wdthHdOld{
    width: 30%;
}
.wdthHd1Old{
    width: 70%;
}
.spfnthead{
    font-size: 13px;
    line-height: 14px;
}
.vheit {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 120px;
}

.spfntsZ{
    font-size: 15px;
    line-height: 15px;
}
.taxwdth{
    width: 100%;
    height: 30px;
    padding-left: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    align-content: center;
}
.taxwdth1{
    width: 50%;
    text-align: start;
    padding-right: 5px;
    padding-top: 2px;
    line-height: 15px;
}
.taxwdth2{
    width: 50%;
    text-align: end;
    padding-right: 5px;
    padding-top: 2px;
    line-height: 15px;
}
.sprmrk{
    width: 100%;
    min-height: 40px;
    font-size: 13px;
    line-height: 16px;
    padding: 5px;
}
.spinst * {
    padding: 2px 5px;
    font-size: 12px !important;
    line-height: 13px !important;
    word-break: break-word !important;
    overflow-wrap: break-word !important;
    word-wrap: break-word !important;
    font-family: Calibri, sans-serif !important;
}
.spbrWord {
    word-break: break-word;
    overflow-wrap: break-word;
    word-wrap: break-word;
}
.spbnkdtl{
    width: 100%;
    padding: 5px;
    line-height: 16px;
}
.spbnkdtl1{
    width: 50%;
    text-align: center;
    height: 150px;
    padding: 5px;
}
.spaceRht{
    margin-right: 5px;
}
.spaceLft{
    margin-left: 5px;
}
.prnt_btn{
    padding-top: 10px;
    padding-right: 20px;
    justify-content: end;
}
@media print {
    @page {
        margin: 25px 15px;
    }
    .SpaceAtBtom {
        padding-bottom: 0px;
    }

    .container_inv2{
        width: 100% !important;
        box-sizing: border-box;
        padding: 10px;
        margin: 1rem auto;
        font-family: Calibri, sans-serif !important;
    }
    .spfnthead{
        font-size: 10px;
        line-height: 11px;
    }
    .spfntsZ{
        font-size: 13px;
        line-height: 13px;
    }
    .spfntbH{
        font-size: 11px;
        line-height: 12px;
    }
    .prnt_btn{
        display: none;
    }
    .pgbrkIsd{
        page-break-inside: avoid;
    }
    .spacLft1{
        margin-left: 26px;
    }
    .w1_invold{
        min-height: 53px;
    }
    .w2_invold{
        min-height: 53px;
    }
    .spfntBld {
        font-weight: 700 !important;
        text-shadow: none !important;
        letter-spacing: 0.1px !important;
        color: #000 !important;
    }  
    .spinst * {
        font-size: 11px !important;
        line-height: 12px !important;
    }

    .FTcol3_inv2{
        width: 20.50%;
        padding: 4px 1px;
    }
    .Ftcol6_inv2{
        width: 0%;
        padding: 4px;
    }
}
@media print and (orientation: portrait) {
    .col1_inv2{
        width: 10%;
    }
    .w90inOld{
        width: 90%;
    }
}