html {
    scrollbar-gutter: stable;
}
.container_inv2{
    position: absolute;
    height: -webkit-fill-available;
    width: 100% !important;
    width: 52.083vw !important; 
    /* width: 1000px !important; */
    box-sizing: border-box;
    padding: 10px;
    margin: 1rem auto;
    letter-spacing: 0.2px; 
    font-family: Calibri, sans-serif !important;
}
.headlineJL {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;   
    height: 35px;
    background-color: #939292;
    color: white;
    font-size: 30px !important;
    line-height: 120%;
    font-family: calibri;
    padding-left: 10px;
    margin-bottom: 7px;
}
.disflx{
    display: flex;
}
.disflxClom {
    display: flex;
    flex-direction: column;
}
.cmpnyLogo {
    min-width: 85px;
    height: 85px;
}

.col1_inv2{
    width: 3%;
    align-content: center;
}
.col2_inv2{
    width: 13%;
    padding: 4px;
}
.col3_inv2{
    width: 6%;
    padding: 4px;
}
.col4_inv2{
    width: 9.50%;
    padding: 4px;
}
.col5_inv2{
    width: 7.50%;
    padding: 4px;
}
.col6_inv2{
    width: 7.50%;
    padding: 4px;
}
.col7_inv2{
    width: 7%;
    padding: 4px;
}
.col8_inv2{
    width: 6%;
    padding: 4px;
}
.col9_inv2{
    width: 6%;
    padding: 4px;
}
.col10_inv2{
    width: 6.50%;
    padding: 4px;
}
.col11_inv2{
    width: 8%;
    padding: 4px;
}
.col12_inv2{
    width: 9%;
    padding: 4px;
}
.col13_inv2{
    width: 11%;
    padding: 4px;
}

.col1_inv2lab {
    width: 3%;
    align-content: center;
}
.col2_inv2lab {
    width: 11.34%;
    padding: 4px;
    align-content: center;
}
.col3_inv2lab {
    width: 5.67%;
    padding: 4px;
    align-content: center;
}
.col4_inv2lab {
    width: 6.67%;
    padding: 4px;
    align-content: center;
}
.col5_inv2lab {
    width: 4.67%;
    padding: 2px;
    align-content: center;
}
.col6_inv2lab {
    width: 6.67%;
    padding: 4px;
    align-content: center;
}
.col7_inv2lab {
    width: 5.67%;
    padding: 4px;
    align-content: center;
}
.col8_inv2lab {
    width: 5.67%;
    padding: 4px;
    align-content: center;
}
.col9_inv2lab {
    width: 5.67%;
    padding: 4px;
    align-content: center;
}
.col10_inv2lab {
    width: 5%;
    padding: 4px;
    align-content: center;
}
.col11_inv2lab {
    width: 6.67%;
    padding: 4px;
    align-content: center;
}
.col12_inv2lab {
    width: 6.67%;
    padding: 4px;
    align-content: center;
}
.col13_inv2lab {
    width: 6.67%;
    padding: 4px;
    align-content: center;
}
.col14_inv2lab {
    width: 6.67%;
    padding: 4px;
    align-content: center;
}
.col15_inv2lab {
    width: 6.67%;
    padding: 4px;
    align-content: center;
}
.col16_inv2lab {
    width: 6.67%;
    padding: 4px;
    align-content: center;
}


.Sucol2_inv2{
    width: 13%;
    padding: 4px;
    align-content: center;
}
.Sucol3_inv2{
    width: 6%;
    padding: 4px;
    align-content: center;
}
.Sucol4_inv2{
    width: 9.50%;
    padding: 4px;
    align-content: center;
}
.Sucol5_inv2{
    width: 7.40%;   
    padding: 4px;
    align-content: center;
}
.Sucol6_inv2{
    width: 7.50%;
    padding: 4px;
    align-content: center;
}
.Sucol7_inv2{
    width: 7.10%;
    padding: 4px;
    align-content: center;
}
.Sucol8_inv2{
    width: 5.90%;
    padding: 4px;
    align-content: center;
}
.Sucol9_inv2{
    width: 6%;
    padding: 4px;
    align-content: center;
}
.Sucol10_inv2{
    width: 6.50%;
    padding: 4px;
    align-content: center;
}
.Sucol11_inv2{
    width: 8%;
    padding: 4px;
    align-content: center;
}
.Sucol12_inv2{
    width: 9%;
    padding: 4px;
    align-content: center;
}
.Sucol13_inv2{
    width: 11.10%;
    padding: 4px;
    align-content: center;
}


.Sucol2_inv2lab {
    width: 11.34%;
    padding: 4px;
    align-content: center;
}
.Sucol3_inv2lab {
    width: 5.67%;
    padding: 4px;
    align-content: center;
}
.Sucol4_inv2lab {
    width: 6.57%;
    padding: 4px;
    align-content: center;
}
.Sucol5_inv2lab {
    width: 4.77%;
    padding: 4px;
    align-content: center;
}
.Sucol6_inv2lab {
    width: 6.57%;
    padding: 4px;
    align-content: center;
}
.Sucol7_inv2lab {
    width: 5.77%;
    padding: 4px;
    align-content: center;
}
.Sucol8_inv2lab {
    width: 5.57%;
    padding: 4px;
    align-content: center;
}
.Sucol9_inv2lab {
    width: 5.67%;
    padding: 4px;
    align-content: center;
}
.Sucol10_inv2lab {
    width: 5%;
    padding: 4px;
    align-content: center;
}
.Sucol11_inv2lab {
    width: 6.67%;
    padding: 4px;
    align-content: center;
}
.Sucol12_inv2lab {
    width: 6.67%;
    padding: 4px;
    align-content: center;
}
.Sucol13_inv2lab {
    width: 6.67%;
    padding: 4px;
    align-content: center;
}
.Sucol14_inv2lab {
    width: 6.67%;
    padding: 4px;
    align-content: center;
}
.Sucol15_inv2lab {
    width: 6.57%;
    padding: 2px;
    align-content: center;
}
.Sucol16_inv2lab {
    width: 6.77%;
    padding: 4px;
    align-content: center;
}


.spfntbH{
    font-size: 12px;
    line-height: 13px;
}
.spfntCen{
    text-align: center;
}
.spfnted{
    text-align: right;
}
.spfntBld{
    font-weight: bold;
}
.spbrRht{
    border-right: 1px solid #DDDDDD;
}
.spbrlFt{
    border-left: 1px solid #DDDDDD;
}
.brBtom{
    border-bottom: 1px solid #DDDDDD;
}
.brTpm{
    border-top: 1px solid #DDDDDD;
}
.brbxAll{
    border: 1px solid #DDDDDD;
}
.w30_inv2{
    width: 30%;
    padding-left: 4px;
}
.w1_inv2{
    width: 35%;
    min-height: 102px;
    padding-left: 4px;
}
.w2_inv2{
    width: 35%;
    padding-left: 4px;
}
.spfnthead{
    font-size: 13px;
    line-height: 14px;
}
.spfntsZ{
    font-size: 15px;
    line-height: 15px;
}
.wdthHd{
    width: 25%;
}
.wdthHd1{
    width: 75%;
}

.taxwdth{
    width: 71.90%
}
.taxwdth1{
    width: 17%;
    text-align: end;
    padding-right: 5px;
    padding-top: 2px;
    line-height: 15px;
}
.taxwdth2{
    width: 11.10%;
    text-align: end;
    padding-right: 5px;
    padding-top: 2px;
    line-height: 15px;
}


.taxwdthlab {
    width: 66.60%
}
.taxwdth1lab {
    width: 20%;
    text-align: end;
    padding-right: 5px;
    padding-top: 2px;
    line-height: 15px;
}
.taxwdth2lab {
    width: 13.40%;
    text-align: end;
    padding-right: 5px;
    padding-top: 2px;
    line-height: 15px;
}

.grtHet{
    height: 35px;
    align-content: center;
}
.sprmrk{
    width: 100%;
    min-height: 40px;
    font-size: 13px;
    line-height: 14px;
    padding: 5px;
}
.spinst * {
    padding: 3px 5px;
    padding-top: 0px;
    font-size: 12px !important;
    line-height: 13px !important;
    word-break: break-word !important;
    overflow-wrap: break-word !important;
    word-wrap: break-word !important;
    font-family: Calibri, sans-serif !important;
}
.spbrWord {
    word-break: break-word;
    overflow-wrap: break-word;
    word-wrap: break-word;
}
.spbnkdtl{
    width: 33.33%;
    padding: 5px;
}
.spbnkdtl1{
    width: 33.33%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 5px;
}
.prnt_btn{
    padding-top: 10px;
    padding-right: 20px;
    justify-content: end;
}
@media print {
    @page {
        margin: 25px 15px;
    }
    .container_inv2{
        width: 100% !important;
        box-sizing: border-box;
        padding: 10px;
        margin: 1rem auto;
        font-family: Calibri, sans-serif !important;
    }
    .spfnthead{
        font-size: 10px;
        line-height: 11px;
    }
    .spfntsZ{
        font-size: 13px;
        line-height: 13px;
    }
    .spfntbH{
        font-size: 10px;
        line-height: 11px;
    }

    .col1_inv2{
        width: 3%;
    }
    .col2_inv2{
        width: 13%;
    }
    .col3_inv2{
        width: 6%;
    }
    .col4_inv2{
        width: 9.50%;
    }
    .col5_inv2{
        width: 7.50%;
    }
    .col6_inv2{
        width: 7.50%;
    }
    .col7_inv2{
        width: 7%;
    }
    .col8_inv2{
        width: 6%;
    }
    .col9_inv2{
        width: 6%;
        word-break: break-word;
        overflow-wrap: break-word;
        word-wrap: break-word;
    }
    .col10_inv2{
        width: 6.50%;
    }
    .col11_inv2{
        width: 8%;
    }
    .col12_inv2{
        width: 9%;
    }
    .col13_inv2{
        width: 11%;
    }

    .Sucol2_inv2{
        width: 13%;
    }
    .Sucol3_inv2{
        width: 6%;
    }
    .Sucol4_inv2{
        width: 9.50%;
    }
    .Sucol5_inv2{
        width: 7.40%;
    }
    .Sucol6_inv2{
        width: 7.60%;
    }
    .Sucol7_inv2{
        width: 6.90%;
    }
    .Sucol8_inv2{
        width: 6%;
    }
    .Sucol9_inv2{
        width: 6%;
    }
    .Sucol10_inv2{
        width: 6.50%;
    }
    .Sucol11_inv2{
        width: 8%;
    }
    .Sucol12_inv2{
        width: 9%;
    }
    .Sucol13_inv2{
        width: 11.10%;
    }

    .col1_inv2lab {
        width: 3%;
    }
    .col2_inv2lab {
        width: 10.34%;
        padding: 1px;
    }
    .col3_inv2lab {
        width: 5.67%;
        padding: 1px;
    }
    .col4_inv2lab {
        width: 6.67%;
        padding: 1px;
    }
    .col5_inv2lab {
        width: 5.67%;
        padding: 1px;
    }
    .col6_inv2lab {
        width: 6.67%;
        padding: 1px;
    }
    .col7_inv2lab {
        width: 5.67%;
        padding: 1px;
    }
    .col8_inv2lab {
        width: 5.67%;
        padding: 1px;
    }
    .col9_inv2lab {
        width: 5.67%;
        padding: 1px;
        word-break: break-word;
        overflow-wrap: break-word;
        word-wrap: break-word;
    }
    .col10_inv2lab {
        width: 5%;
        padding: 1px;
    }
    .col11_inv2lab {
        width: 6.67%;
        padding: 1px;
    }
    .col12_inv2lab {
        width: 6.67%;
        padding: 1px;
    }
    .col13_inv2lab {
        width: 6.67%;
        padding: 1px;
    }
    .col14_inv2lab {
        width: 6.67%;
        padding: 1px;
    }
    .col15_inv2lab {
        width: 6.67%;
        padding: 1px;
    }
    .col16_inv2lab {
        width: 6.67%;
        padding: 1px;
    }


    .Sucol2_inv2lab {
        width: 10.34%;
        padding: 1px;
    }
    .Sucol3_inv2lab {
        width: 5.67%;
        padding: 1px;
    }
    .Sucol4_inv2lab {
        width: 6.57%;
        padding: 1px;
    }
    .Sucol5_inv2lab {
        width: 5.67%;
        padding: 1px;
    }
    .Sucol6_inv2lab {
        width: 6.67%;
        padding: 1px;
    }
    .Sucol7_inv2lab {
        width: 5.67%;
        padding: 1px;
    }
    .Sucol8_inv2lab {
        width: 5.67%;
        padding: 1px;
    }
    .Sucol9_inv2lab {
        width: 5.67%;
        padding: 1px;
    }
    .Sucol10_inv2lab {
        width: 5%;
        padding: 1px;
    }
    .Sucol11_inv2lab {
        width: 6.67%;
        padding: 1px;
    }
    .Sucol12_inv2lab {
        width: 6.57%;
        padding: 1px;
    }
    .Sucol13_inv2lab {
        width: 6.77%;
        padding: 1px;
    }
    .Sucol14_inv2lab {
        width: 6.57%;
        padding: 1px;
    }
    .Sucol15_inv2lab {
        width: 6.77%;
        padding: 1px;
    }
    .Sucol16_inv2lab {
        width: 6.67%;
        padding: 1px;
    }


    .wdthHd{
        width: 30%;
    }
    .wdthHd1{
        width: 70%;
    }


    .taxwdth{
        width: 72%
    }
    .taxwdth1{
        width: 16.83%;
    }
    .taxwdth2{
        width: 11.170%;
    }


    .taxwdthlab {
        width: 66.60%
    }
    .taxwdth1lab {
        width: 20%;
    }
    .taxwdth2lab {
        width: 13.40%;
    }


    .sprmrk{
        font-size: 10px;
        line-height: 11px;
    }
    .prnt_btn{
        display: none;
    }
    .spinst * {
        font-size: 11px !important;
        line-height: 12px !important;
    }
}
@media print and (orientation: landscape) {
    .Sucol2_inv2{
        width: 16.10%;
    }
    .Sucol3_inv2{
        width: 7%;
    }
    .Sucol4_inv2{
        width: 9.40%;
    }
    .Sucol5_inv2{
        width: 6.60%;
    }
    .Sucol6_inv2{
        width: 8.50%;
    }
    .Sucol7_inv2{
        width: 7%;
    }
    .Sucol8_inv2{
        width: 7.10%;
    }
    .Sucol9_inv2{
        width: 7%;
    }
    .Sucol10_inv2{
        width: 6.50%;
    }
    .Sucol11_inv2{
        width: 9.80%;
    }
}