.containerinvp4{
    /* max-width: 1200px !important; */
    max-width: 845px !important;
    padding: 0 15px !important;
    margin: 2rem auto !important;
    width: 100% !important;
    padding-bottom: 5rem !important;
    color: black;
    font-family: Calibri;
}
.linesinvp4 {
    line-height: 100%;
    padding: 2px;
    height: 12.5px;
    font-size: 12px;
}
.theadinvp4{
    height: 24px;
    border: 1px solid #e8e8e8;
    font-size: 14px;
}
.descinvp4{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 28%;
    border-right: 1px solid #e8e8e8;
}
.summaryinvp4{
    min-height: 3rem;
    border: 1px solid #e8e8e8;
    border-top: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 12px;
}
.wordsinvp4{
    min-height: 2rem;
    height: 100%;
    border: 1px solid #e8e8e8;
    border-top: 0px;
    padding-left: 2px;
    font-size: 12px;
}
.noteinvp4{
    font-size: 12px;
    padding-left: 2px;
    border: 1px solid #e8e8e8;
    border-top: 0px;
}
.declarationinvp4{
    border: 1px solid #e8e8e8;
    border-top: 0px;
    border-bottom: 0px;
    min-height: 2rem;
    height: 100%;
    padding: 5px;
}
.fs12invp4{
    font-size: 12px;
}
.discHeadinvp4 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25px;
    border: 1px solid #d8d7d7;
    margin-top: 0px;
    font-weight: bold;
    border-right: 0px;
    border-left: 0px;
    width: 100%;

}
.wp1tbinvp4 {
    width: 25%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 3px;
}
.tableinvp4 {
    display: flex;
    flex-direction: column;
}
.wp3tbinvp4 {
    width: 25%;
    height: 100%;
    padding: 0 4px;
    /* display: flex;
    justify-content: center;
    align-items: center; */
}
.tbodyinvp4 {
    display: flex;
    justify-content: space-between;
    border-left: 1px solid #d8d7d7;
    border-right: 1px solid #d8d7d7;
}
.wp1invp4 {
    width: 25%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.theadinvp4 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 25px;
    border: 1px solid #d8d7d7;
    margin-top: 0px;
    font-weight: bold;
}

.descriptioninovicePrint4{
    position: absolute;
    top: 50%;
    text-align: center;
}
.fsinvp4 {
    font-size: 11px;
    line-height: 120%;
}
.brtopinvp4 {
    border-top: 2px solid #d8d7d7;
}

.wp3invp4 {
    width: 25%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
}
.empdivinvp4{
    height: 25px;
    border-top: 2px solid #d4d4d4;
    position: absolute;
    bottom: 0px;
    width: 100%;
}
.invp4_fs{
    font-size: 12px;
}
.invp4_fs_2{
    font-size: 16px;
}
.invp4_fs_3{
    font-size: 14px;
}
.end_invp4_{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.invp4_33{
    width: 33.33%;
}
.brright_invp4{
    border-right: 1px solid #e8e8e8;
}
.brleft_invp4{
    border-left: 1px solid #e8e8e8;
}
.brbottom_invp4{
    border-bottom: 1px solid #e8e8e8;
}
.w_30_invp4{
    width: 30%;
}
.headline_invp4{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 10px;
    height: 35px;
    background-color: #989898;    
    font-weight: bold;
    font-size: 20px;
    color: white;
    
}
.max_qr_invp4{
    
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.max_qr_invp4_2{
    max-width: 240px;
    max-height: 240px;
}

.cust_title_invpV{
    font-size: 60px;
    font-weight: 100;
}

@media print{
    .btnpcl{
        display: none !important;
    }
        .print_sec_sum4 {
            display: none !important;
          }

          .subheadinvp4, .wordsinvp4, .noteinvp4, .declarationinvp4, .footerINVP4, .footer_invp4_box{
            page-break-inside: avoid;
          }
          .invp4_fs{
            font-size: 11px;
            line-height: 14px;
        }
        .invp4_fs_2{
            font-size: 13px;
            line-height: 15px;
        }
        .invp4_fs_3{
            font-size: 12px;
            line-height: 14px;
        }
        .cust_title_invpV{
            font-size: 40px;
        }
        .showValOnly{
            border: 0px !important;
        }
        .dec_invp4_fs *{
            font-size: 11px;
            line-height: 16px !important;
        }
        .containerinvp4{
            margin: 0 auto !important;
        }
        .headline_invp4{
            font-size: 17px;
            height: 30px;
        }
    }