.containerIp5 * {
    box-sizing: border-box;
    word-break: break-all;
    font-family: Calibri;
}

/* global in print */
.containerIp5 {
    padding-top: 5rem;
    width: 848px !important;
    margin: 0 auto;
    font-size: 11px;
}

.fsgip5 {
    font-size: 11px;
}

.centerip5 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.startip5 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.endip5 {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

/* header */
.hliv5 {
    height: 40px;
    background-color: #989898;
    color: white;
    font-weight: bold;
    font-size: 25px;
    padding-left: 1rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.lhiv5 {
    /* line-height: 14px; */
    line-height: 18px;
    font-size: 11px;
}
.fsh_inv5{
    font-size: 16px;
    line-height: 24px;
    font-weight: bold;
}
.printlogoiv5 {
    height: 80%;
    width: 50%;
}

/* sub header */
.subdiv1ip5 {
    width: 80%;
}

.subdiv2ip5 {
    width: 20%;
}

/* table  */

.theadip5 {
    display: flex;
    height: 50px;
}

.tbodyip5 {
    display: flex;
    min-height: 3rem;
    height: 100%;
}

/* table head columns width */
.col1ip5 {
    width: 4%;
}

.col2ip5 {
    width: 20%;
}

.col3ip5 {
    width: 7%;
}

.col4ip5 {
    width: 7%;
}

.col5ip5 {
    width: 8%;
}

.col6ip5 {
    width: 9%;
}

.col7ip5 {
    width: 9%;
}

.col8ip5 {
    width: 12%;
}


/* inp7 */
.col1ip7 {
    width: 4%;
}

.col2ip7 {
    width: 27%;
}

.col3ip7 {
    width: 8%;
}

.col4ip7 {
    width: 7%;
}

.col5ip7 {
    width: 10%;
}

.col6ip7 {
    width: 0%;
    display: none !important;
}

.col7ip7 {
    width: 0%;
    display: none !important;
}

.col8ip7 {
    width: 14%;
}

/* tax department */
.wordsip5 {
    width: 79.7%;
    /* width: 65.9%; */
}

.taxip5 {
    /* width: 21.3%; */
    width: 34.1%;
}

.fwi5 {
    width: 40%;
}

.fwi51 {
    width: 35%;
}

.h_60_ivp57 {
    height: 60px;
}

@media print {
    .hidebtnip5 {
        display: none !important;
    }

    .fsgip5 {
        font-size: 11px !important;
        line-height: 12px !important;
    }

    .wordsip5 {
        width: 70% !important;
    }

    .taxip5 {
        width: 30% !important;
    }

    .texpartivp5 {
        page-break-inside: avoid;
    }

    .containerIp5{
        padding: 10px !important;
        width: 848px !important;
    }

    .theadip5 {
        display: flex;
        height: 30px !important;
        font-size: 11px !important;
    }

    .h_60_ivp57 {
        height: 30px;
    }

    .printlogoiv5 {
        height: 60%;
        width: 50%;
    }

    .lhiv5 {
        /* line-height: 14px; */
        line-height: 12px;
        font-size: 11px;
    }
    .fsh_inv5{
        font-size: 14px;
        line-height: 24px;
        font-weight: bold;
    }
    .cust_fs_invp5{
        font-size: 13px !important;
    }
}