html {
    scrollbar-gutter: stable;
}  
.container_inv2{
    position: absolute;
    height: -webkit-fill-available;
    width: 52.083vw !important; 
    /* width: 1000px !important; */
    box-sizing: border-box;
    padding: 10px;
    margin: 1rem auto;
    letter-spacing: 0.2px; 
    font-family: Calibri, sans-serif !important;
}
.headlineJL {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;   
    height: 35px;
    background-color: #939292;
    color: white;
    font-size: 30px !important;
    line-height: 120%;
    font-family: calibri;
    padding-left: 10px;
    margin-bottom: 7px;
}
.disflx{
    display: flex;
}
.disflxClom {
    display: flex;
    flex-direction: column;
}



.col1_inv2{
    width: 3%;
    align-content: center;
}
.col2_inv2{
    width: 8%;
    align-content: center;
    min-height: 25px;
}
.col3_inv2{
    width: 6%;
    align-content: center;
}
.col4_inv2{
    width: 5.50%;
    align-content: center;
}
.col5_inv2{
    width: 6%;
    align-content: center;
}
.col6_inv2{
    width: 5.75%;
    align-content: center;
}
.col7_inv2{
    width: 6%;
    align-content: center;
}
.col8_inv2{
    width: 5.70%;
    align-content: center;
}
.col9_inv2{
    width: 6.80%;
    align-content: center;
}
.col10_inv2{
    width: 7.75%;
    align-content: center;
}
.col11_inv2{
    width: 6.50%;
    align-content: center;
}
.col12_inv2{
    width: 5.75%;
    align-content: center;
}
.col13_inv2{
    width: 6.75%;
    align-content: center;
}
.col14_inv2{
    width: 5.75%;
    align-content: center;
}
.col15_inv2{
    width: 6.75%;
    align-content: center;
}
.col16_inv2{
    width: 8%;
    align-content: center;
}

.col2_inv2NGSt {
    width: 10.25%;
    align-content: center;
    min-height: 25px;
}
.col3_inv2NGSt {
    width: 8.25%;
    align-content: center;
}
.col4_inv2NGSt {
    width: 7.75%;
    align-content: center;
}
.col5_inv2NGSt {
    width: 8.25%;
    align-content: center;
}
.col6_inv2NGSt {
    width: 8%;
    align-content: center;
}
.col7_inv2NGSt {
    width: 8.25%;
    align-content: center;
}
.col8_inv2NGSt {
    width: 7.95%;
    align-content: center;
}
.col9_inv2NGSt {
    width: 9.05%;
    align-content: center;
}
.col10_inv2NGSt {
    width: 14.75%;
    align-content: center;
}
.col11_inv2NGSt {
    width: 14.50%;
    align-content: center;
}



.Sucol2_inv2{
    width: 8%;
    align-content: center;
    min-height: 30px;
    padding: 4px;
}
.Sucol3_inv2{
    width: 6%;
    align-content: center;
}
.Sucol4_inv2{
    width: 5.50%;
    align-content: center;
}
.Sucol5_inv2{
    width: 6%;
    align-content: center;
}
.Sucol6_inv2{
    width: 5.70%;
    align-content: center;
}
.Sucol7_inv2{
    width: 6%;
    align-content: center;
}
.Sucol8_inv2{
    width: 5.70%;
    align-content: center;
}
.Sucol9_inv2{
    width: 6.80%;
    align-content: center;
}
.Sucol10_inv2{
    width: 7.75%;
    align-content: center;
}
.Sucol11_inv2{
    width: 6.50%;
    align-content: center;
}
.Sucol12_inv2{
    width: 5.70%;
    align-content: center;
}
.Sucol13_inv2{
    width: 6.75%;
    align-content: center;
}
.Sucol14_inv2{
    width: 5.75%;
    align-content: center;
}
.Sucol15_inv2{
    width: 6.75%;
    align-content: center;
}
.Sucol16_inv2{
    width: 8.10%;
    align-content: center;
}




.Sucol2_inv2NGSt {
    width: 10.25%;
    align-content: center;
    min-height: 30px;
    padding: 4px;
}
.Sucol3_inv2NGSt {
    width: 8.25%;
    align-content: center;
}
.Sucol4_inv2NGSt {
    width: 7.75%;
    align-content: center;
}
.Sucol5_inv2NGSt {
    width: 8.20%;
    align-content: center;
}
.Sucol6_inv2NGSt {
    width: 8%;
    align-content: center;
}
.Sucol7_inv2NGSt {
    width: 8.25%;
    align-content: center;
}
.Sucol8_inv2NGSt {
    width: 8%;
    align-content: center;
}
.Sucol9_inv2NGSt {
    width: 8.90%;
    align-content: center;
}
.Sucol10_inv2NGSt {
    width: 14.90%;
    align-content: center;
}
.Sucol11_inv2NGSt {
    width: 14.50%;
    align-content: center;
}





.spfntbH{
    font-size: 12px;
    line-height: 13px;
}
.spfntbH2 {
    font-size: 12px;
    line-height: 13px;
}
.spfntCen{
    text-align: center;
}
.spfnted{
    text-align: right;
    padding-right: 2px;
}
.spfntSt {
    text-align: left;
    padding-left: 2px;
}
.spfntBld {
    font-weight: bold;
    text-shadow: 0.2px 0 0 currentColor;
    letter-spacing: 0.4px;
}


.spbrRht{
    border-right: 1px solid #DDDDDD;
}
.spbrlFt{
    border-left: 1px solid #DDDDDD;
}
.brBtom{
    border-bottom: 1px solid #DDDDDD;
}
.brTpm{
    border-top: 1px solid #DDDDDD;
}
.brbxAll{
    border: 1px solid #DDDDDD;
}


.w30_inv2{
    width: 30%;
    padding-left: 4px;
}
.w1_inv2{
    width: 35%;
    min-height: 102px;
    padding-left: 4px;
}
.w2_inv2{
    width: 35%;
    padding-left: 4px;
}


.spfnthead{
    font-size: 13px;
    line-height: 14px;
}
.spfntsZ{
    font-size: 15px;
    line-height: 15px;
}


.wdthHd{
    width: 25%;
}
.wdthHd1{
    width: 75%;
}
.taxwdth{
    width: 79.40%
}
.taxwdth1{
    width: 12.50%;
    text-align: end;
    padding-right: 5px;
    padding-top: 2px;
    line-height: 15px;
}
.taxwdth2{
    width: 8.10%;
    text-align: end;
    padding-right: 5px;
    padding-top: 2px;
    line-height: 15px;
}
.taxwdth1:empty {
    padding-top: 0;
}
.taxwdth2:empty {
    padding-top: 0;
}
.taxwdthGST {
    width: 70.70%
}
.taxwdth1GST {
    width: 14.80%;
    text-align: end;
    padding-right: 5px;
    padding-top: 2px;
    line-height: 15px;
}
.taxwdth2GST {
    width: 14.50%;
    text-align: end;
    padding-right: 5px;
    padding-top: 2px;
    line-height: 15px;
}


.grtHet{
    height: 35px;
    align-content: center;
}
.sprmrk{
    width: 100%;
    min-height: 40px;
    font-size: 13px;
    line-height: 14px;
    padding: 5px;
}


.spinst * {
    padding: 3px 5px;
    font-size: 12px !important;
    line-height: 13px !important;
    word-break: break-word !important;
    overflow-wrap: break-word !important;
    word-wrap: break-word !important;
    font-family: Calibri, sans-serif !important;
}


.spbrWord {
    word-break: break-word;
    overflow-wrap: break-word;
    word-wrap: break-word;
}


.spbnkdtl{
    width: 33.33%;
    padding: 5px;
}
.spbnkdtl1{
    width: 33.33%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 5px;
}
  

.prnt_btn{
    padding-top: 10px;
    padding-right: 20px;
    justify-content: end;
}
@media print {
    @page {
        margin: 25px 15px;
    }
    .pagBrkIsid{
        page-break-inside: avoid;
    }
    .container_inv2{
        width: 100% !important;
        box-sizing: border-box;
        padding: 10px;
        margin: 1rem auto;
        font-family: Calibri, sans-serif !important;
    }
    .spfnthead{
        font-size: 10px;
        line-height: 11px;
    }
    .spfntsZ{
        font-size: 13px;
        line-height: 13px;
    }
    .spfntbH{
        font-size: 11px;
        line-height: 12px;
    }
    .spfntbH2 {
        font-size: 10px;
        line-height: 11px;
    }
    .spinst * {
        font-size: 11px !important;
        line-height: 12px !important;
    }
    .sprmrk{
        font-size: 10px;
        line-height: 11px;
    }
    .spfntBld {
        font-weight: 700 !important;
        text-shadow: none !important;
        letter-spacing: 0.1px !important;
        color: #000 !important;
    }

    .wdthHd{
        width: 30%;
    }
    .wdthHd1{
        width: 70%;
    }
    .taxwdth{
        width: 79.40%
    }
    .taxwdth1{
        width: 12.55%;
    }
    .taxwdth2{
        width: 8.05%;
    }

    .Sucol2_inv2{
        width: 8%;
    }
    .Sucol3_inv2{
        width: 6%;
    }
    .Sucol4_inv2{
        width: 5.45%;
    }
    .Sucol5_inv2{
        width: 6.05%;
    }
    .Sucol6_inv2{
        width: 5.70%;
    }
    .Sucol7_inv2{
        width: 6%;
    }
    .Sucol8_inv2{
        width: 5.75%;
    }
    .Sucol9_inv2{
        width: 6.70%;
    }
    .Sucol10_inv2{
        width: 7.75%;
    }
    .Sucol11_inv2{
        width: 6.50%;
    }
    .Sucol12_inv2{
        width: 5.75%;
    }
    .Sucol13_inv2{
        width: 6.75%;
    }
    .Sucol14_inv2{
        width: 5.75%;
    }
    .Sucol15_inv2{
        width: 6.80%;
    }
    .Sucol16_inv2{
        width: 8.05%;
    }


    .Sucol2_inv2NGSt {
        width: 10.25%;
    }
    .Sucol3_inv2NGSt {
        width: 8.25%;
    }
    .Sucol4_inv2NGSt {
        width: 7.75%;
    }
    .Sucol5_inv2NGSt {
        width: 8.20%;
    }
    .Sucol6_inv2NGSt {
        width: 8%;
    }
    .Sucol7_inv2NGSt {
        width: 8.25%;
    }
    .Sucol8_inv2NGSt {
        width: 7.95%;
    }
    .Sucol9_inv2NGSt {
        width: 9.05%;
    }
    .Sucol10_inv2NGSt {
        width: 14.75%;
    }
    .Sucol11_inv2NGSt {
        width: 14.525%;
    }

    .taxwdthGST {
        width: 70.70%
    }
    .taxwdth1GST {
        width: 14.80%;
    }
    .taxwdth2GST {
        width: 14.50%;
    }

    .prnt_btn{
        display: none;
    }
}
@media print and (orientation: landscape) {
    .Sucol2_inv2{
        width: 7.90%;
        min-height: 30px;
        padding: 4px;
    }
    .Sucol3_inv2{
        width: 6.10%;
    }
    .Sucol4_inv2{
        width: 5.45%;
    }
    .Sucol5_inv2{
        width: 6.05%;
    }
    .Sucol6_inv2{
        width: 5.70%;
    }
    .Sucol7_inv2{
        width: 6.05%;
    }
    .Sucol8_inv2{
        width: 5.65%;
    }
    .Sucol9_inv2{
        width: 6.80%;
    }
    .Sucol10_inv2{
        width: 7.70%;
    }
    .Sucol11_inv2{
        width: 6.55%;
    }
    .Sucol12_inv2{
        width: 5.70%;
    }
    .Sucol13_inv2{
        width: 6.75%;
    }
    .Sucol14_inv2{
        width: 5.80%;
    }
    .Sucol15_inv2{
        width: 6.75%;
    }
    .Sucol16_inv2{
        width: 8.05%;
    }    

    .Sucol2_inv2NGSt {
        width: 10.25%;
        align-content: center;
        min-height: 30px;
        padding: 4px;
    }
    .Sucol3_inv2NGSt {
        width: 8.25%;
        align-content: center;
    }
    .Sucol4_inv2NGSt {
        width: 7.75%;
        align-content: center;
    }
    .Sucol5_inv2NGSt {
        width: 8.20%;
        align-content: center;
    }
    .Sucol6_inv2NGSt {
        width: 8.05%;
    }
    .Sucol7_inv2NGSt {
        width: 8.25%;
    }
    .Sucol8_inv2NGSt {
        width: 7.90%;
    }
    .Sucol9_inv2NGSt {
        width: 9.05%;
    }
    .Sucol10_inv2NGSt {
        width: 14.75%;
    }
    .Sucol11_inv2NGSt {
        width: 14.525%;
    }
}