html {
    scrollbar-gutter: stable;
}
.container_inv2{
    position: absolute;
    height: -webkit-fill-available;
    width: 100% !important;
    width: 52.083vw !important; 
    /* width: 1000px !important; */
    box-sizing: border-box;
    padding: 10px;
    margin: 1rem auto;
    letter-spacing: 0.2px; 
    font-family: Calibri, sans-serif !important;
}
.headlineJL {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;   
    height: 35px;
    background-color: #939292;
    color: white;
    font-size: 30px !important;
    line-height: 120%;
    font-family: calibri;
    padding-left: 10px;
    margin-bottom: 7px;
}
.disflx{
    display: flex;
}
.cmpnyLogo {
    min-width: 85px;
    height: 85px;
}

.col1_inv2{
    width: 3%;
    padding: 4px;
}
.col2_inv2{
    width: 15%;
    padding: 4px;
}
.col3_inv2{
    width: 7%;
    padding: 4px;
}
.col4_inv2{
    width: 9.50%;
    padding: 4px;
}
.col5_inv2{
    width: 7.50%;
    padding: 4px;
}
.col6_inv2{
    width: 8.50%;
    padding: 4px;
}
.col7_inv2{
    width: 8%;
    padding: 4px;
}
.col8_inv2{
    width: 7%;
    padding: 4px;
}
.col9_inv2{
    width: 7%;
    padding: 4px;
}
.col10_inv2{
    width: 7.50%;
    padding: 4px;
}
.col11_inv2{
    width: 9%;
    padding: 4px;
}
.col12_inv2{
    width: 11%;
    padding: 4px;
}


.RTcol8_inv2{
    width: 9%;
    padding: 4px;
}
.RTcol9_inv2{
    width: 9%;
    padding: 4px;
}
.RTcol10_inv2{
    width: 9.50%;
    padding: 4px;
}
.RTcol12_inv2{
    width: 14%;
    padding: 4px;
}


.col1FnDMnt_inv2{
    width: 2.5%;
    align-content: center;
}
.col2FnDMnt_inv2{
    width: 8%;
    align-content: center;
}
.col3FnDMnt_inv2{
    width: 6.80%;
    padding: 4px;
    align-content: center;
}
.col4FnDMnt_inv2{
    width: 6.80%;
    padding: 4px;
    align-content: center;
}
.col5FnDMnt_inv2{
    width: 6.80%;
    padding: 4px;
    align-content: center;
}
.col6FnDMnt_inv2{
    width: 6.80%;
    padding: 4px;
    align-content: center;
}
.col7FnDMnt_inv2{
    width: 6.80%;
    padding: 4px;
    align-content: center;
}
.col8FnDMnt_inv2{
    width: 6.80%;
    padding: 4px;
    align-content: center;
}
.col9FnDMnt_inv2{
    width: 6.80%;
    padding: 4px;
    align-content: center;
}
.col10FnDMnt_inv2{
    width: 6.80%;
    padding: 4px;
    align-content: center;
}
.col11FnDMnt_inv2{
    width: 6.80%;
    padding: 4px;
    align-content: center;
}
.col13FnDMnt_inv2 {
    width: 7.35%;
    padding: 4px;
    align-content: center;
}
.col14FnDMnt_inv2 {
    width: 6.80%;
    padding: 4px;
    align-content: center;
}
.col15FnDMnt_inv2 {
    width: 6.80%;
    padding: 4px;
    align-content: center;
}
.col12FnDMnt_inv2{
    width: 7.35%;
    padding: 4px;
    align-content: center;
}


.RTcol8FnDMnt_inv2{
    width: 7.77%;
    padding: 4px;
    align-content: center;
}
.RTcol9FnDMnt_inv2{
    width: 7.77%;
    padding: 4px;
    align-content: center;
}
.RTcol10FnDMnt_inv2{
    width: 7.77%;
    padding: 4px;
    align-content: center;
}
.RTcol13FnDMnt_inv2 {
    width: 8.33%;
    padding: 4px;
    align-content: center;
}
.RTcol14FnDMnt_inv2 {
    width: 7.77%;
    padding: 4px;
    align-content: center;
}
.RTcol15FnDMnt_inv2 {
    width: 7.77%;
    padding: 4px;
    align-content: center;
}
.RTcol12FnDMnt_inv2{
    width: 8.32%;
    padding: 4px;
    align-content: center;
}



.Sucol2_inv2{
    width: 15.10%;
    padding: 4px;
}
.Sucol3_inv2{
    width: 6.90%;
    padding: 4px;
}
.Sucol4_inv2{
    width: 9.50%;
    padding: 4px;
}
.Sucol5_inv2{
    width: 7.50%;
    padding: 4px;
}
.Sucol6_inv2{
    width: 8.50%;
    padding: 4px;
}
.Sucol7_inv2{
    width: 8.10%;
    padding: 4px;
}
.Sucol8_inv2{
    width: 7%;
    padding: 4px;
}
.Sucol9_inv2{
    width: 6.90%;
    padding: 4px;
}
.Sucol10_inv2{
    width: 7.60%;
    padding: 4px;
}
.Sucol11_inv2{
    width: 9%;
    padding: 4px;
}
.Sucol12_inv2{
    width: 11.10%;
    padding: 4px;
}


.RTSucol8_inv2{
    width: 9%;
    padding: 4px;
}
.RTSucol9_inv2{
    width: 9%;
    padding: 4px;
}
.RTSucol10_inv2{
    width: 9.50%;
    padding: 4px;
}
.RTSucol12_inv2{
    width: 14.10%;
    padding: 4px;
}


.Sucol2FnDMnt_inv2{
    width: 8%;
    padding: 4px;
}
.Sucol3FnDMnt_inv2{
    width: 6.80%;
    padding: 4px;
}
.Sucol4FnDMnt_inv2{
    width: 6.80%;
    padding: 4px;
}
.Sucol5FnDMnt_inv2{
    width: 6.80%;
    padding: 4px;
}
.Sucol6FnDMnt_inv2{
    width: 6.70%;
    padding: 4px;
}
.Sucol7FnDMnt_inv2{
    width: 6.90%;
    padding: 4px;
}
.Sucol8FnDMnt_inv2{
    width: 6.70%;
    padding: 4px;
}
.Sucol9FnDMnt_inv2{
    width: 6.90%;
    padding: 4px;
}
.Sucol10FnDMnt_inv2{
    width: 6.70%;
    padding: 4px;
}
.Sucol11FnDMnt_inv2{
    width: 6.90%;
    padding: 4px;
}
.Sucol13FnDMnt_inv2{
    width: 7.35%;
    padding: 4px;
}
.Sucol14FnDMnt_inv2{
    width: 6.70%;
    padding: 4px;
}
.Sucol15FnDMnt_inv2{
    width: 6.90%;
    padding: 4px;
}
.Sucol12FnDMnt_inv2{
    width: 7.35%;
    padding: 4px;
}



.RTSucol8FnDMnt_inv2{
    width: 7.77%;
    padding: 4px;
}
.RTSucol9FnDMnt_inv2{
    width: 7.77%;
    padding: 4px;
}
.RTSucol10FnDMnt_inv2{
    width: 7.77%;
    padding: 4px;
}
.RTSucol13FnDMnt_inv2{
    width: 8.23%;
    padding: 4px;
}
.RTSucol14FnDMnt_inv2{
    width: 7.77%;
    padding: 4px;
}
.RTSucol15FnDMnt_inv2{
    width: 7.77%;
    padding: 4px;
}
.RTSucol12FnDMnt_inv2{
    width: 8.44%;
    padding: 4px;
}



.spfntbH{
    font-size: 12px;
    line-height: 13px;
}
.spfntCen{
    text-align: center;
}
.spfnted{
    text-align: right;
}
.spfntBld{
    font-weight: bold;
}

.spbrRht{
    border-right: 1px solid #DDDDDD;
}
.spbrlFt{
    border-left: 1px solid #DDDDDD;
}
.brBtom{
    border-bottom: 1px solid #DDDDDD;
}
.brTpm{
    border-top: 1px solid #DDDDDD;
}
.brbxAll{
    border: 1px solid #DDDDDD;
}

.w30_inv2{
    width: 30%;
    padding-left: 4px;
}
.w1_inv2{
    width: 35%;
    min-height: 102px;
    padding-left: 4px;
}
.w2_inv2{
    width: 35%;
    padding-left: 4px;
}

.spfnthead{
    font-size: 13px;
    line-height: 14px;
}
.spfntsZ{
    font-size: 15px;
    line-height: 15px;
}

.wdthHd{
    width: 25%;
}
.wdthHd1{
    width: 75%;
}

.taxwdth{
    width: 72.40%
}
.taxwdth1{
    width: 16.50%;
    text-align: end;
    padding-right: 5px;
    padding-top: 2px;
    line-height: 15px;
}
.taxwdth2{
    width: 11.10%;
    text-align: end;
    padding-right: 5px;
    padding-top: 2px;
    line-height: 15px;
}
.taxwdth_FnDMnt {
    width: 71.70%
}
.taxwdth1_FnDMnt {
    width: 14.10%;
    text-align: end;
    padding-right: 5px;
    padding-top: 2px;
    line-height: 15px;
}
.taxwdth2_FnDMnt {
    width: 14.20%;
    text-align: end;
    padding-right: 5px;
    padding-top: 2px;
    line-height: 15px;
}


.RTtaxwdth{
    width: 67.50%
}
.RTtaxwdth1{
    width: 18.50%;
    text-align: end;
    padding-right: 5px;
    padding-top: 2px;
    line-height: 15px;
}
.RTtaxwdth2{
    width: 14%;
    text-align: end;
    padding-right: 5px;
    padding-top: 2px;
    line-height: 15px;
}

.RTtaxwdth_FnDMnt {
    width: 67.90%
}
.RTtaxwdth1_FnDMnt {
    width: 16%;
    text-align: end;
    padding-right: 5px;
    padding-top: 2px;
    line-height: 15px;
}
.RTtaxwdth2_FnDMnt {
    width: 16.20%;
    text-align: end;
    padding-right: 5px;
    padding-top: 2px;
    line-height: 15px;
}

.grtHet{
    height: 35px;
    align-content: center;
}
.sprmrk{
    width: 100%;
    min-height: 40px;
    font-size: 13px;
    line-height: 14px;
    padding: 5px;
}
.spinst * {
    padding: 3px 5px;
    font-size: 12px !important;
    line-height: 13px !important;
    word-break: break-word !important;
    overflow-wrap: break-word !important;
    word-wrap: break-word !important;
    font-family: Calibri, sans-serif !important;
}
.spbrWord {
    word-break: break-word;
    overflow-wrap: break-word;
    word-wrap: break-word;
}
.spbnkdtl{
    width: 33.33%;
    padding: 5px;
}
.spbnkdtl1{
    width: 33.33%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 5px;
}
.prnt_btn{
    padding-top: 10px;
    padding-right: 20px;
    justify-content: end;
}
@media print {
    @page {
        margin: 15px 0px;
    }
    .container_inv2{
        width: 100% !important;
        box-sizing: border-box;
        padding: 10px;
        margin: 1rem auto;
        font-family: Calibri, sans-serif !important;
    }
    .spfnthead{
        font-size: 10px;
        line-height: 11px;
    }
    .spfntsZ{
        font-size: 13px;
        line-height: 13px;
    }
    .spfntbH{
        font-size: 11px;
        line-height: 12px;
    }


    .col1_inv2{
        width: 3.20%;
    }
    .col2_inv2{
        width: 16%;
    }
    .col3_inv2{
        width: 7%;
    }
    .col4_inv2{
        width: 9.50%;
    }
    .col5_inv2{
        width: 6.50%;
    }
    .col6_inv2{
        width: 8.50%;
    }
    .col7_inv2{
        width: 7%;
    }
    .col8_inv2{
        width: 7%;
    }
    .col9_inv2{
        width: 7%;
    }
    .col10_inv2{
        width: 6.50%;
    }
    .col11_inv2{
        width: 9.80%;
    }
    .col12_inv2{
        width: 12%;
    }


    .Sucol2_inv2{
        width: 16%;
    }
    .Sucol3_inv2{
        width: 7.10%;
    }
    .Sucol4_inv2{
        width: 9.50%;
    }
    .Sucol5_inv2{
        width: 6.50%;
    }
    .Sucol6_inv2{
        width: 8.50%;
    }
    .Sucol7_inv2{
        width: 7%;
    }
    .Sucol8_inv2{
        width: 7%;
    }
    .Sucol9_inv2{
        width: 7%;
    }
    .Sucol10_inv2{
        width: 6.60%;
    }
    .Sucol11_inv2{
        width: 9.80%;
    }
    .Sucol12_inv2{
        width: 12.150%;
    }


    .RTSucol8_inv2{
        width: 9%;
    }
    .RTSucol9_inv2{
        width: 9%;
    }
    .RTSucol10_inv2{
        width: 9.50%;
    }
    .RTSucol12_inv2{
        width: 15%;
    }


    .Sucol7FnDMnt_inv2{
        width: 6.80%;
        padding: 4px;
    }
    .Sucol8FnDMnt_inv2{
        width: 6.80%;
        padding: 4px;
    }
    .Sucol9FnDMnt_inv2{
        width: 6.80%;
        padding: 4px;
    }
    .Sucol10FnDMnt_inv2{
        width: 6.90%;
        padding: 4px;
    }
    .Sucol11FnDMnt_inv2{
        width: 6.70%;
        padding: 4px;
    }
    .Sucol13FnDMnt_inv2{
        width: 7.45%;
        padding: 4px;
    }
    .Sucol15FnDMnt_inv2{
        width: 6.70%;
        padding: 4px;
    }
    .Sucol12FnDMnt_inv2{
        width: 7.55%;
        padding: 4px;
    }



    .RTSucol13FnDMnt_inv2{
        width: 8.33%;
        padding: 4px;
    }
    .RTSucol14FnDMnt_inv2{
        width: 7.67%;
        padding: 4px;
    }
    .RTSucol15FnDMnt_inv2{
        width: 7.87%;
        padding: 4px;
    }
    .RTSucol12FnDMnt_inv2{
        width: 8.344%;
        padding: 4px;
    }


    .wdthHd{
        width: 30%;
    }
    .wdthHd1{
        width: 70%;
    }

    .taxwdth{
        width: 71.70%
    }
    .taxwdth1{
        width: 16.30%;
    }
    .taxwdth2{
        width: 12.150%;
    }

    .RTtaxwdth{
        width: 66.65%
    }
    .RTtaxwdth1{
        width: 18.50%;
    }
    .RTtaxwdth2{
        width: 14.85%;
    }


    .sprmrk{
        font-size: 10px;
        line-height: 11px;
    }
    
    .prnt_btn {
        display: none;
    }
    .RT_Chkbx {
        display: none;
    }
    .spinst * {
        font-size: 11px !important;
        line-height: 12px !important;
    }
}
@media print and (orientation: landscape) {
    .Sucol2_inv2{
        width: 16.05%;
    }
    .Sucol3_inv2{
        width: 7.05%;
    }
    .Sucol4_inv2{
        width: 9.55%;
    }
    .Sucol5_inv2{
        width: 6.50%;
    }
    .Sucol6_inv2{
        width: 8.50%;
    }
    .Sucol7_inv2{
        width: 7.05%;
    }
    .Sucol8_inv2{
        width: 7%;
    }
    .Sucol9_inv2{
        width: 7%;
    }
    .Sucol10_inv2{
        width: 6.60%;
    }
    .Sucol11_inv2{
        width: 9.80%;
    }
    .Sucol12_inv2{
        width: 12.130%;
    }


    .taxwdth{
        width: 71.65%
    }
    .taxwdth1{
        width: 16.30%;
    }
    .taxwdth2{
        width: 12.05%;
    }

    .RTtaxwdth{
        width: 66.65%
    }
    .RTtaxwdth1{
        width: 18.50%;
    }
    .RTtaxwdth2{
        width: 14.85%;
    }


    .RTSucol2_inv2{
        width: 16%;
    }
    .RTSucol3_inv2{
        width: 7.05%;
    }
    .RTSucol4_inv2{
        width: 9.50%;
    }
    .RTSucol8_inv2{
        width: 8.95%;
    }
    .RTSucol9_inv2{
        width: 9.05%;
    }
    .RTSucol10_inv2{
        width: 9.50%;
    }
    .RTSucol12_inv2{
        width: 14.90%;
    }
}