html {
    scrollbar-gutter: stable;
}
.container_inv2{
    position: absolute;
    height: -webkit-fill-available;
    width: 100% !important;
    width: 52.083vw !important; 
    /* width: 1000px !important; */
    box-sizing: border-box;
    padding: 10px;
    margin: 1rem auto;
    letter-spacing: 0.2px; 
    font-family: Calibri, sans-serif !important;
}
.cmpnyLogo {
    width: 85px;
    height: 85px;
}

.disflx{
    display: flex;
}
.col1_inv2{
    width: 4%;
    padding: 4px;
}
.col2_inv2{
    width: 26%;
    padding: 4px;
}
.col3_inv2{
    width: 10.50%;
    padding: 4px;
}
.col4_inv2{
    width: 8.50%;
    padding: 4px;
}
.col5_inv2{
    width: 10%;
    padding: 4px;
}
.col6_inv2{
    width: 10%;
    padding: 4px;
}
.col7_inv2{
    width: 9%;
    padding: 4px;
}
.col8_inv2{
    width: 10%;
    padding: 4px;
}
.col9_inv2{
    width: 12%;
    padding: 4px;
}
.Sucol2_inv2{
    width: 26%;
    padding: 4px;
}
.Sucol3_inv2{
    width: 10.50%;
    padding: 4px;
}
.Sucol4_inv2{
    width: 8.50%;
    padding: 4px;
}
.Sucol5_inv2{
    width: 9.90%;
    padding: 4px;
}
.Sucol6_inv2{
    width: 10%;
    padding: 4px;
}
.Sucol7_inv2{
    width: 9%;
    padding: 4px;
}
.Sucol8_inv2{
    width: 10%;
    padding: 4px;
}
.Sucol9_inv2{
    width: 12.10%;
    padding: 4px;
}
.spfntbH{
    font-size: 12px;
    line-height: 13px;
}
.spfntCen{
    text-align: center;
}
.spfnted{
    text-align: right;
}
.spfntBld{
    font-weight: bold;
}
.spbrRht{
    border-right: 1px solid #DDDDDD;
}
.spbrlFt{
    border-left: 1px solid #DDDDDD;
}
.brBtom{
    border-bottom: 1px solid #DDDDDD;
}
.brTpm{
    border-top: 1px solid #DDDDDD;
}
.brbxAll{
    border: 1px solid #DDDDDD;
}
.w30_inv2{
    width: 30%;
    padding-left: 4px;
}
.w1_inv2{
    width: 35%;
    min-height: 102px;
    padding-left: 4px;
}
.w2_inv2{
    width: 35%;
    padding-left: 4px;
}
.spfnthead{
    font-size: 13px;
    line-height: 14px;
}
.spfntsZ{
    font-size: 15px;
    line-height: 15px;
}
.wdthHd{
    width: 25%;
}
.wdthHd1{
    width: 75%;
}
.taxwdth{
    width: 68.90%
}
.taxwdth1{
    width: 19%;
    text-align: end;
    padding-right: 5px;
    padding-top: 2px;
    line-height: 15px;
}
.taxwdth2{
    width: 12.10%;
    text-align: end;
    padding-right: 5px;
    padding-top: 2px;
    line-height: 15px;
}
.extrWdthAftrBg {
    width: 100%;
    display: flex;
    justify-content: end;
    text-align: end;
    padding-right: 5px;
    padding-top: 2px;
    line-height: 15px;
}
.extrWdthAftrBg1 {
    width: 19%;
}
.extrWdthAftrBg2 {
    width: 12.10%;
}
.grtHet{
    height: 35px;
    align-content: center;
}
.sprmrk{
    width: 100%;
    min-height: 40px;
    font-size: 13px;
    line-height: 14px;
    padding: 5px;
}
.spinst * {
    padding: 2px 5px;
    font-size: 12px !important;
    line-height: 13px !important;
    word-break: break-word !important;
    overflow-wrap: break-word !important;
    word-wrap: break-word !important;
    font-family: Calibri, sans-serif !important;
}
.spbrWord {
    word-break: break-word;
    overflow-wrap: break-word;
    word-wrap: break-word;
}
.spbnkdtl{
    width: 33.33%;
    padding: 5px;
}
.spbnkdtl1{
    width: 33.33%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 5px;
}
.prnt_btn{
    padding-top: 10px;
    padding-right: 20px;
    justify-content: end;
}
@media print {
    @page {
        margin: 25px 15px;
    }
    .container_inv2{
        width: 100% !important;
        box-sizing: border-box;
        padding: 10px;
        margin: 1rem auto;
        font-family: Calibri, sans-serif !important;
    }
    .pagBrkIsid{
        page-break-inside: avoid;
    }
    .spfnthead{
        font-size: 10px;
        line-height: 11px;
    }
    .spfntsZ{
        font-size: 13px;
        line-height: 13px;
    }
    .spfntbH{
        font-size: 11px;
        line-height: 12px;
    }


    .col2_inv2{
        width: 29%;
    }
    .col4_inv2{
        width: 7.5%;
    }
    .col6_inv2{
        width: 9%;
    }
    .col7_inv2{
        width: 8%;
    }
    .col8_inv2{
        width: 9.90%;
    }

    
    .Sucol2_inv2{
        width: 29%;
    }
    .Sucol3_inv2{
        width: 10.50%;
    }
    .Sucol4_inv2{
        width: 7.40%;
    }
    .Sucol5_inv2{
        width: 10%;
    }
    .Sucol6_inv2{
        width: 9.10%;
    }
    .Sucol7_inv2{
        width: 7.90%;
    }
    .Sucol8_inv2{
        width: 9.90%;
    }
    .Sucol9_inv2{
        width: 12.190%;
    }


    .wdthHd{
        width: 30%;
    }
    .wdthHd1{
        width: 70%;
    }


    .taxwdth{
        width: 70.10%
    }
    .taxwdth1{
        width: 17.90%;
    }
    .taxwdth2{
        width: 12.180%;
    }


    .sprmrk{
        font-size: 10px;
        line-height: 11px;
    }
    .prnt_btn{
        display: none;
    }
    .spinst * {
        font-size: 11px !important;
        line-height: 12px !important;
    }
}
@media print and (orientation: landscape) {
    .Sucol2_inv2{
        width: 29.10%;
    }
    .Sucol3_inv2{
        width: 10.50%;
    }
    .Sucol4_inv2{
        width: 7.50%;
    }
    .Sucol5_inv2{
        width: 10%;
    }
    .Sucol7_inv2{
        width: 8.10%;
    }
    .Sucol8_inv2{
        width: 9.90%;
    }
    .Sucol9_inv2{
        width: 12.25%;
    }
}