.invoicePrint4CloneContainer *{
    font-size: 14px;
    line-height: 120%;
    font-family: Calibri;
}

.invoicePrint4CloneContainer{
    min-height: 100vh;
}

.invoicePrint4CloneContainer input{
    min-width: 163px;
}

.imageLogoInovicePrint4{
    max-width: 160px;
    max-height: 103px;
    object-fit: contain;
}

.bankDetail{
    bottom: 100px;
    width: calc(100% - 18px);
}

.invoicePrintRMargin{
    padding: 0 !important;
    margin: 0 12px !important
}

.discription{
    display: none;
}

.min_height{
    min-height: 260px;
}

@media print{
    .invoicePrint4Input{
        border: none;
    }
    .print_sec_sum4{
        display: none !important;
    }
    .pad_60_allPrint{
        padding-bottom: 0 !important;
    }
    .discriptionInput{
        display: none;
    }
    .discription{
        display: block;
        text-align: center;
    }
}