.containerJewellery * {
    font-size: 14px;
    font-family: Calibri;
}


.image{
    max-height: 100px;
    object-fit: contain;
}

.generated{
    font-size: 9px;
}

.headLabelJTI_quote{
    font-size: 20px;
    background-color: #939292;
    color: #FFF;
    padding: 4px 0px 5px 6px !important;
    font-weight: bold;
}
@media print{
    .print_sec_sum4{
        display: none !important;
    }
}

/* .containerJewellery *:not(.declaration *) {
    font-size: 12px
}

.font_13, .font_13 *:not(.declaration *){
    font-size: 13px;
}

.font_14, .font_14 *:not(.declaration *){
    font-size: 14px;
}

.font_15, .font_15 *:not(.declaration *){
    font-size: 15px;
}


.word_Break *{
    word-break: normal !important;
}

.image{
    max-height: 100px;
    object-fit: contain;
}

.generated{
    font-size: 9px !important;
}


@media print{
    .print_sec_sum4{
        display: none !important;
    }
}
 */

/* .srNo, .jobNo, .image, .amount{
    width: 15%;
}

.discription{
    width: 40%;
} */
