.container_jts{
    max-width: 1100px;
    width: 100%;
    padding: 10px;
    padding-bottom: 5rem;
    margin: 0 auto;
    font-family: Calibri;
}
.fs_jts{
    font-size: 13px;
    line-height: 14px;
}
.spBgColor{
    background: #F2F2F2;
}
.spfontCol{
    color: #525252;
}
.spImag{
    width: 90px;
    height: 90px;
}
.lh_jts{
    line-height: 20px !important;
}
.fs2_jts{
    font-size: 14px;
}
.fs2_jts1{
    font-size: 14px;
}
.thead_jts{
    display: flex;
    height: 25px;
    font-weight: bold;
    background-color: #F2F2F2;
    border: 1px solid #DDDDDD;
    border-top: 0px;
}
.col1_jts{
    width: 10%;
}
.col2_jts{
    width: 15%;
}
.col3_jts{
    width: 62%;
}
.col4_jts{
    width: 13%;
}
.center_jts{
    display: flex;
    justify-content: center;
    align-items: center;
}
.start_jts{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.end_jts{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.brr_jts{
    border-right: 1px solid #DDDDDD;
}
.brl_jts{
    border-left: 1px solid #DDDDDD;
}
.brb_jts{
    border-bottom: 1px solid #DDDDDD;
}
.brall_jts{
    border: 1px solid #DDDDDD;
}
.w33_jts{
    width: 33.33%;
}
.w30_jts{
    width: 30%;
}
.w1_jts{
    width: 61%;
}
.w2_jts{
    width: 39%;
}
.static_jts{
    text-transform: uppercase;
    text-align: left;
    font-size: 12px;
    color: gray;
}
.dec_jts *{
    font-size: 12px;
    line-height: 15px;
    padding: 2px;
    word-wrap: break-word !important;
    word-break: break-word !important;
}
.lastPad{
    padding-right: 8.5rem;
}

.spbrWord {
    word-break: break-word;
    overflow-wrap: break-word;
    word-wrap: break-word;
}

.devidePDetail1 {
    width: 75%;
}

.devidePDetail2 {
    width: 25%;
    padding-right: 1.5rem;
}

.spPad05 {
    padding: 0.5rem;
}

@media print {
    .d_none_jts{
        display: none !important;
    }
    .pbia_jts{
        page-break-inside: avoid !important;
    }
    .dec_jts *{
        font-size: 10px;
        line-height: 12px;
        padding: 2px;
        word-wrap: break-word !important;
        word-break: break-word !important;
    }   
    .static_jts{
        text-transform: uppercase;
        text-align: left;
        font-size: 8px;
        color: gray;
    }
    .fs_jts{
        font-size: 10px;
        line-height: 12px;
    }
    .lh_jts{
        line-height: 16px !important;
    }
    .fs2_jts{
        font-size: 12px;
        line-height: 14px;
    }
    .thead_jts{
        font-size: 12px;
    }
    .spImag{
        width: 70px;
        height: 70px;
    }
    .fs2_jts1{
        font-size: 11px;
    }
    .lastPad{
        padding-right: 4.4rem;
    }
    .devidePDetail1 {
        width: 72%;
    }
    .devidePDetail2 {
        width: 28%;
        padding-right: 0.1rem;
    }
    .spPad2_5 {
        padding: 0.1rem;
    }
}