.fs_custom_jti {
  font-size: 15px;
}
.center_jti_content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.table_sqm {
  max-width: 820px !important;
}

.col1_sqm {
  width: 11%;
}
.col2_sqm {
  width: 14%;
}
.col3_sqm {
  width: 48%;
}
.col4_sqm {
  width: 13%;
}
.col5_sqm {
  width: 14%;
}
.col6_sqm {
  width: 76%;
}

.col_r_1 {
  width: 29%;
}
.col_r_2 {
  width: 37%;
}
.col_r_3 {
  width: 20%;
}
.col_r_4 {
  width: 14%;
}

.static_line_sqm {
  font-size: 8.5px;
}
.tax_div_sqm {
  height: 114px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
.tax_div_sqm2 {
  height: 114px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}
.remark_fs {
  font-size: 14px;
}

.branchAddress_jti * {
  font-size: 12px !important;
  line-height: 14px;
}

.branchAddress_jti table tr:first-child td b {
  font-size: 16px !important;
  font-weight: bold !important;
}

.branchAddress_jti div, .branchAddress_jti span {
  display: block;
  margin-bottom: 2.2px !important;
}

.branchAddress_jti div, .branchAddress_jti b {
  display: block;
  margin-bottom: 2.2px !important;
}

.bottomBorderSetting{
  border-bottom: none !important;
}


.jewel_totalFinal {
  border-right: none !important;
}

.jewelery_description_height {
  min-height: 113px;
}

.border_right_none{
  border-right: none !important;
}

.total_height_show_jewel{
  height: 22px !important;
}
@media print {

  .branchAddress_jti * {
    font-size: 14px !important;
  }

  .jewelery_description_height {
    min-height: 50px !important;

    .text_break_value {
      font-size: 10px !important;
    }

    .text_break_value_sub {
      font-size: 8.5px !important;
    }
  }

  .jewel_top_customer_add_print {
    font-size: 12px !important;
  }

  .jewel_top_right_add {
    font-size: 11.5px !important;
    line-height: 12px !important;
    margin-bottom: 0px !important;
    padding-bottom: 1px !important;
  }

  .jewel_top_main_address{
    line-height: 11px !important;
    font-size: 11.2px !important;
  }

  .jewel_top_main_address_last{
    line-height: 11px !important;
    font-size: 11px !important;
    margin-top: 1px !important;
  }

  .jewel_top_main_class{
    margin-top: 18px !important;
  }

  .jewel_top_main_class_second{
    margin-top: 32px !important;
  }

  .jewel_tax_invoice_setting{
    margin-top: 12px !important;
  }

  .fs_custom_jti {
    font-size: 12px;
  }
  .printImgSmall {
    height: 65px !important;
  }
  .jewel_design_images {
    height: 90px !important;
    width: 90px !important;
  }
  .fs_jti_Sale {
    font-size: 12px !important;
  }
  .fs_13px_jti {
    font-size: 12.5px !important;
  }
  .fs_11px_jti {
    font-size: 11px !important;
  }
  
  .jewel_box_infor_summury{
    font-size: 8px !important;
  }

  .jewel_top_box_title{
    font-size: 13px !important;
  }

  .top_table_name_class{
    margin-top: 2px !important;
  }

 
}
