html {
    scrollbar-gutter: stable;
}

.estimate_img {
    height: 190.5px;
    width: 264px;
    padding: 4px;
    justify-content: center;
    align-items: center;
}

.containerEstimate {
    max-width: 297mm !important;
    font-family: Calibri;
}

.mainWdthHeit {
    height: 570px;
    width: 370px;
}

.estimatePrintFont_16 {
    font-size: 16px;
}

.estimatePrintFont_9 {
    font-size: 9px;
    line-height: 9px;
}

.estimatePrintFont_14 {
    font-size: 8px;
    line-height: 8px;
}

.estimatePrintFont_141 {
    font-size: 7px;
    line-height: 7px;
}

.spMrgTFive {
    margin-top: 0px;
}

.spMrgBFive {
    margin-bottom: 0px;
}

.spMrgdt1 {
    margin-left: 25px;
}

.spnfntIns {
    font-size: 11px;
    line-height: 11px;
    align-content: center;
}

.spstlClr {
    font-size: 14px;
    line-height: 14px;
    height: 25px;
    padding-left: 3px;
    align-content: center;
}

.spnHitArtisn {
    height: 18px;
    padding-left: 2px;
    align-content: center;
}

.spnHitCsMs {
    height: 18px;
    padding-left: 2px;
    align-content: center;
}

.spnfntArtisn {
    font-size: 11px;
    line-height: 11px;
}

.spdispFlx {
    display: flex;
}

.spdispFlx1 {
    display: flex;
    flex-wrap: wrap;
}

.spdispFlxClum {
    display: flex;
    flex-direction: column;
}

.spwdth1 {
    width: 45%;
    padding-top: 2px;
}

.spwdth2 {
    width: 55%;
}

.Suspwdth1 {
    width: 45%;
    text-align: center;
    padding-top: 2px;
    background-color: rgb(240, 218, 189);
}

.Suspwdth2 {
    width: 55%;
    text-align: center;
    padding-top: 2px;
    background-color: rgb(189, 207, 235);
}

.spmrgLft {
    padding-left: 7px;
}

.spdtl1 {
    width: 44%;
}

.Suspdtl1 {
    width: 17%;
}

.Suspdtl2 {
    width: 43%;
}

.Suspdtl3 {
    width: 40%;
}

.subwidthHed {
    width: 33.33%;
}

.spdtl2 {
    width: 93.20%;
    margin-left: 25px;
    border-top: none;
}

.sptxtend {
    height: 19.24px;
    padding-left: 2px;
    align-content: center;
}

.Sesptxtend {
    height: 19.1px;
    padding-left: 2px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.spHitIns {
    min-height: 40px;
    padding-left: 2px;
    padding-top: 2px;
}

.spWdthIns {
    width: 75%;
}

.spbrWord {
    word-break: break-word;
    overflow-wrap: break-word;
    word-wrap: break-word;
}

.spBold {
    font-weight: bold;
}

.dtlWdth1 {
    width: 20%;
}

.dtlWdth2 {
    width: 11.25%;
}

.dtlWdth3 {
    width: 8.50%;
}

.dtlWdth4 {
    width: 10.25%;
}

.dtlWdth5 {
    width: 20%;
}

.dtlWdth6 {
    width: 11.25%;
}

.dtlWdth7 {
    width: 8.50%;
}

.dtlWdth8 {
    width: 10.25%;
}

/* .dtlWdth9{
    width: 10%;
} */
.spfntszDCM {
    font-size: 9px;
    line-height: 10px;
}

.SuBspfntszDCM {
    font-size: 10px;
    line-height: 11px;
}

.SuspfntszDCM {
    font-size: 10px;
    line-height: 11px;
    text-align: right;
    padding-right: 3px;
}

.sptxtCn {
    text-align: center;
}

.spbgColr {
    background: #dadada;
}

.border_color_estimate {
    border: 2px solid #000000 !important;
}

.spbrdrTop {
    border-top: 1px solid #000000;
}

.spbrdRght {
    border-right: 1px solid #000000;
}

.spbrdrBtom {
    border-bottom: 1px solid #000000;
}

.spbrdrLft {
    border-left: 1px solid #000000;
}

.spbrdrTopDR {
    border-top: 2px solid #000000;
}

.spbrdRghtDR {
    border-right: 2px solid #000000;
}

.spbrdrBtomDR {
    border-bottom: 2px solid #000000;
}

.spbrdrLftDR {
    border-left: 2px solid #000000;
}

@media print {
    @page {
        margin: 20px 10px;
    }

    .mainWdthHeit {
        height: 540px;
        width: 370px;
    }

    .print_sec_sum4 {
        display: none !important;
    }

    .spBold {
        font-weight: bold;
    }

    .spdtl2 {
        margin-left: 25px;
    }

    .spMrgdt1 {
        margin-left: 25px;
    }

    .estimatePrintFont_14 {
        font-size: 9px;
        line-height: 9px;
    }

    .estimatePrintFont_141 {
        font-size: 9px;
        line-height: 8px;
    }

    .spnfntArtisn {
        font-size: 8.9px;
        line-height: 8.9px;
    }

    .spnHitArtisn {
        height: 17.5px;
        padding-left: 1.5px;
    }

    .spnHitCsMs {
        height: 16.5px;
        padding-left: 1.5px;
    }

    .sptxtend {
        height: 18.2px;
        padding-left: 1.5px;
    }

    .Sesptxtend {
        height: 18px;
        padding-left: 1.5px;
    }

    .pagBrkIsid{
        page-break-inside: avoid;
    }
}

@media print and (orientation: landscape) {
    @page {
        margin: 15px 15px;
    }
}