.container_pcls{
    max-width: 1230px;
    /* margin: 0 auto; */
    box-sizing: border-box;
    padding: 10px;
    padding-bottom: 5rem;
    font-size: 12px;
    line-height: 14px;
    font-family: Calibri !important;
}
.headText_pcls{
    font-size: 20px;
    background-color: #939292;
    color: #FFF;
    padding: 8px 0px 8px 6px !important;
    font-weight: bold;
}
.companylogo_pcls{
    height: 75px;
}

/* borders */
.brall_pcls{
    border: 1px solid #BDBDBD;
}
.btop_pcls{
    border-top: 1px solid #BDBDBD;
}
.bright_pcls{
    border-right: 1px solid #BDBDBD;
}
.bleft_pcls{
    border-left: 1px solid #BDBDBD;
}
.bbottom_pcls{
    border-bottom: 1px solid #BDBDBD;
}
.bg_pcls{
    background-color: #F5F5F5;
}

.centerdp10{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.center_sdp10{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 1px;
}
.end_dp10{
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
}
.start_dp10{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
/* border */
.brR_dp10{
    border-right:1px solid rgb(117, 115, 115) !important;
}
.br_dp10{
    border:1px solid rgb(117, 115, 115) !important;
}
.bg_dp10{
    background-color: #f1f1f1;
}
.bl_dp10{
    border-left: 1px solid #BDBDBD;
}
.bt_dp10{
    border-top: 1px solid #BDBDBD;
}
.bright_dp10{
    border-right: 1px solid #BDBDBD;
}
.bb_dp10{
    border-bottom: 1px solid #BDBDBD;
}
.ball_dp10{
    border: 1px solid #BDBDBD;
}

/* contents */
.centerall_pcls{
    display: flex;
    justify-content: center;
    align-items: center;
}
.start_pcls{
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
}
.start_top_pcls{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.end_pcls{
    display: flex;
    justify-content: flex-end;
    /* align-items: center; */
}
.start_center_pcls{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

/* pad left-right  */
.pdr_pcls{
    padding-right: 2px;
}
.pdl_pcls{
    padding-left: 2px;
}

.billbox_pcls{
    width: 60px;
}

.fs_16_pcls{
    font-size: 16px;
}
.fs_14_pcls{
    font-size: 14px;
}

/* table head */

.tb_fs_pcls{
    font-size: 11px;
}

.thead_pcls{
    background-color: #F5F5F5;
    font-weight: bold;
}

.col1_pcls{
    width: 2%;
}
.col2_pcls{
    width: 11%;
}
.col3_pcls{
    width: 22%;
}
.col4_pcls{
    width: 21%;
}
.col5_pcls{
    width: 22%;
}
.col6_pcls{
    width: 15%;
}
.col7_pcls{
    width: 7%;
}

/* diamond and colorstone */
.dcol1_pcls{
    width: 20%;
}
.dcol2_pcls{
    width: 18%;
}
.dcol3_pcls{
    width: 11%;
}
.dcol4_pcls{
    width: 14%;
}
.dcol5_pcls{
    width: 16%;
}
.dcol6_pcls{
    width: 21%;
}

/* metal */
.mcol1_pcls{
    /* width: 25%; */
    width: 20%;
}
.mcol2_pcls{
    width: 17%;
}
.mcol3_pcls{
    /* width: 10%; */
    width: 19%;
}
.mcol4_pcls{
    width: 21%;
}
.mcol5_pcls{
    /* width: 25%; */
    width: 23%;
}


/* labour */
.lcol1_pcls{
    width: 33.33%;
}

.designimg_pcls{
    height: 75px;
    width: 75px;
    box-sizing: border-box;
    object-fit: contain;
    margin: 2px;
}

/* footer and summary */

.bg_c_pcls{
    background-color: #f5f5f5;
}

.col1_s_pcls{
    width: 30%;
}
.col2_s_pcls{
    width: 16%;
}
.col3_s_pcls{
    width: 16%;
}
.col4_s_pcls{
    width: 20%;
}
.col5_s_pcls{
    width: 9%;
}
.col6_s_pcls{
    width: 9%;
}

.minH_pcl3{
    min-height: 8.9rem;
    border-right:1px solid #BDBDBD;
}

.resremark_pcl3 *{
    line-height: 10px !important;
    font-size: 9px !important;
}

/* summary */
.sumdp10{
    width: 31%;
}
.dia_sum_dp10{
    width: 18%;
}
.oth_sum_dp10{
    width: 15%;
}
.remark_sum_dp10{
    width: 15%;
}
.check_dp10{
    width: 10%;
}

.h14_dp10{
    height: 14px;
}
.pad_top_dp10{
    padding: 0px !important;
    /* padding-top: 10px !important; */
}
.pr_dp10{
    padding-right: 2px !important;
}
.h14_dp10{
    height: 14px;
}

.spbrWord {
    word-break: break-word !important;
    overflow-wrap: break-word !important;
    word-wrap: break-word !important;
}

.WdthTrmInclded { 
    width: 29%;
    margin: 4px;
}

.SpBrders {
    border-right: 1px solid #f0f0f0;
    border-bottom: 1px solid #f0f0f0;
    border-left: 1px solid #f0f0f0;
}

.HeitFrDMDetls {
    min-height: 98px !important;
}

.HeitFrSigntr {
    height: 130px;
}

@media print {
    @page {
        margin: 5mm;
    }
     
    .fs_16_pcls{
        font-size: 10px;
    }

    .fs_14_pcls{
        font-size: 10px;
    }

    .fs_header_pcls{
        font-size: 9px;
    }

    .container_pcls{
        max-width: 1230px;
        margin: 0 auto;
        box-sizing: border-box;
        padding: 0px;
        padding-bottom: 5rem;
        font-size: 6px;
        line-height: 9px;
    }

    .tb_fs_pcls{
        font-size: 6px;
        line-height: 7px;
    }

    .pbia_s{
        page-break-inside: avoid !important;
    }

    .designimg_pcls{
        height: 60px;
        width: 60px;
        box-sizing: border-box;
        object-fit: contain;
        margin: 2px;
    }

    .d_none_pcl_s{
        display: none !important;
    }

    .headText_pcls{
        font-size: 13px;
        background-color: #939292;
        color: #FFF;
        padding: 6px 0px 6px 4px !important;
        font-weight: bold;
    }

    .companylogo_pcls{
        height: 60px;
    }

    .whole_none_pcl3{
        display: none !important;
    }

    .pbia_pcl3{
        page-break-inside: avoid !important;
    }

    .com_fs_pcl3{
        font-size: 8.5px ;
    }

    .minH_pcl3{
        min-height: 4.5rem;
        border-right:1px solid #BDBDBD;
    }

    .resremark_pcl3 *{
        line-height: 10px !important;
    }

    .h14_dp10{
        height: 7.5px !important;
    }

    .WdthTrmInclded { 
        width: 29.50%;
        margin: 2px;
    }

    .HeitFrDMDetls {
        min-height: 48.50px !important;
    }

    .HeitFrSigntr {
        height: 68px !important;
    }
}