.container_pcls{
    max-width: 1530px;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 10px;
    padding-bottom: 5rem;
    font-size: 12px;
    line-height: 14px;
    font-family: Calibri;
}
.headText_pcls{
    font-size: 20px;
    background-color: #939292;
    color: #FFF;
    padding: 8px 0px 8px 6px !important;
    font-weight: bold;
}
.companylogo_pcls{
    height: 75px;
}

/* borders */
.brall_pcls{
    border: 1px solid #BDBDBD;
}
.btop_pcls{
    border-top: 1px solid #BDBDBD;
}
.bright_pcls{
    border-right: 1px solid #BDBDBD;
}
.bleft_pcls{
    border-left: 1px solid #BDBDBD;
}
.bbottom_pcls{
    border-bottom: 1px solid #BDBDBD;
}
.bg_pcls{
    background-color: #F5F5F5;
}
/* contents */
.centerall_pcls{
    display: flex;
    justify-content: center;
    align-items: center;
}
.start_pcls{
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
}
.start_top_pcls{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.end_pcls{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.start_center_pcls{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

/* pad left-right  */
.pdr_pcls{
    padding-right: 2px;
}
.pdl_pcls{
    padding-left: 2px;
}

.billbox_pcls{
    width: 60px;
}

.fs_16_pcls{
    font-size: 16px;
}
.fs_14_pcls{
    font-size: 14px;
}

/* table head */

.tb_fs_pcls{
    font-size: 11px;
}

.thead_pcls{
    background-color: #F5F5F5;
    font-weight: bold;
}

.col1_pcls{
    width: 2%;
}
.col2_pcls{
    width: 11%;
}
.col3_pcls{
    width: 22%;
}
.col4_pcls{
    width: 22%;
}
.col5_pcls{
    width: 22%;
}
.col6_pcls{
    width: 15%;
}
.col7_pcls{
    width: 6%;
}

/* diamond and colorstone */
.dcol1_pcls{
    width: 20%;
}
.dcol2_pcls{
    width: 17%;
}
.dcol3_pcls{
    width: 10%;
}
.dcol4_pcls{
    width: 16%;
}
.dcol5_pcls{
    width: 16%;
}
.dcol6_pcls{
    width: 21%;
}

/* metal */
.mcol1_pcls{
    /* width: 25%; */
    width: 20%;
}
.mcol2_pcls{
    width: 19%;
}
.mcol3_pcls{
    /* width: 10%; */
    width: 20%;
}
.mcol4_pcls{
    width: 18%;
}
.mcol5_pcls{
    /* width: 25%; */
    width: 23%;
}


/* labour */
.lcol1_pcls{
    width: 33.33%;
}

.designimg_pcls{
    height: 75px;
    width: 75px;
    box-sizing: border-box;
    object-fit: contain;
    margin: 2px;
}

/* footer and summary */

.bg_c_pcls{
    background-color: #f5f5f5;
}

.col1_s_pcls{
    width: 30%;
}
.col2_s_pcls{
    width: 16%;
}
.col3_s_pcls{
    width: 16%;
}
.col4_s_pcls{
    width: 20%;
}
.col5_s_pcls{
    width: 9%;
}
.col6_s_pcls{
    width: 9%;
}

.w_h_head{
    width: 100px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 10px;
    font-size: 14px;
}
.fs_h_head2{
    font-size: 14px;
}

@media print {
    .fs_16_pcls{
        font-size: 13px;
    }
    .fs_14_pcls{
        font-size: 11px;
    }
    .fs_header_pcls{
        font-size: 9px;
    }
    .container_pcls{
        max-width: 1230px;
        margin: 0 auto;
        box-sizing: border-box;
        padding: 0px;
        padding-bottom: 5rem;
        font-size: 6px;
        line-height: 9px;
    }
    .tb_fs_pcls{
        font-size: 6px;
        line-height: 7px;
    }
    .pbia_s{
        page-break-inside: avoid !important;
    }

    .designimg_pcls{
        height: 60px;
        width: 60px;
        box-sizing: border-box;
        object-fit: contain;
        margin: 2px;
    }
    .d_none_pcl_s{
        display: none !important;
    }

    .headText_pcls{
        font-size: 16px;
        background-color: #939292;
        color: #FFF;
        padding: 8px 0px 8px 6px !important;
        font-weight: bold;
    }
    .companylogo_pcls{
        height: 60px;
    }
    .w_h_head{
        width: 100px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding-right: 10px;
        font-size: 10px;
    }
    .fs_h_head2{
        font-size: 10px;
    }
    
}