.containerdp10_pcl7{
    box-sizing: border-box;
    word-break: break-all;
    font-size: 12px;
    line-height: 14px;
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 5rem;
    font-family: Calibri;
    
}
/* value space and direction */
.centerdp10_pcl7{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.center_sdp10_pcl7{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 1px;
}
.end_dp10_pcl7{
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
}
.start_dp10_pcl7{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.pab60_dp10_pcl7{
    padding-bottom: 100px;
    margin-bottom: 5rem;
}
/* font size */
.fsgdp10_pcl7{
    font-size: 11px;
    line-height: 11px;
}
.fsgdp10_pcl7_2{
    font-size: 12px;
    line-height: 15px;
}
.fsgdp10_pcl7_3{
    font-size: 14px;
    line-height: 15px;
}
.fsg2dp10_pcl7{
    font-size: 12px;
    /* line-height: 14px; */
}

/* border */
.brR_dp10_pcl7{
    border-right:1px solid rgb(117, 115, 115) !important;
}
.br_dp10_pcl7{
    border:1px solid rgb(117, 115, 115) !important;
}
.bg_dp10_pcl7{
    background-color: #f1f1f1;
}
.bl_dp10_pcl7{
    border-left: 1px solid #BDBDBD;
}
.bl_dp10_pcl7_2{
    border-left: 1px solid black !important;
}
.bt_dp10_pcl7{
    border-top: 1px solid #BDBDBD;
}
.bright_dp10_pcl7{
    border-right: 1px solid #BDBDBD;
}
.bb_dp10_pcl7{
    border-bottom: 1px solid #BDBDBD;
}
.ball_dp10_pcl7{
    border: 1px solid #BDBDBD;
}
/* header part */
.pheaddp10_pcl7{
    height: 40px;
    /* background-color: #989898; */
    background-color: #939292;
    font-size: 25px;
    font-weight: bold;
    color: white;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 10px;
    margin-bottom: 3px;
}
.imgHWdp10_pcl7{
    height: 100%;
    max-height: 120px;
}
.subheaderdp10_pcl7{
    display: flex;
    border-top: 1px solid #e8e8e8;
    border-bottom: 1px solid #e8e8e8;
}
.subdiv1dp10_pcl7{
    width: 35%;
    padding-top: 5px;
    padding-bottom: 5px;
    /* min-height: 7rem; */
}
.subdiv2dp10_pcl7{
    width: 35%;
    padding-top: 5px;
    padding-bottom: 5px;
    /* min-height: 7rem; */
}
.subdiv3dp10_pcl7{
    width: 30%;
    padding-top: 5px;
    padding-bottom: 5px;
    /* min-height: 7rem; */
}



/* table part */

/* table head */
.theaddp10_pcl7{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    border-left:1px solid black;
    border-right:1px solid black;
    border-bottom:1px solid #BDBDBD;
    border-top: 1px solid black;
}

/* table head columns */
.col1dp10_pcl7{
    width: 2.2%;
    height: 100%;
    border-right:1px solid #BDBDBD;
}
.col2dp10_pcl7{
    width: 12.6%;
    height: 100%;
    border-right:1px solid #BDBDBD;
}
.col3dp10_pcl7{
    width: 23.2%;
    height: 100%;
    border-right:1px solid #BDBDBD;
}
.col4dp10_pcl7{
    /* width: 19%; */
    width: 23%;
    height: 100%;
    border-right:1px solid #BDBDBD;
}
/* .col6dp10_pcl7{
    width: 4%;
    height: 100%;
    border-right:1px solid #BDBDBD;
} */
.col7dp10_pcl7{
    width: 11%;
    height: 100%;
    border-right:1px solid #BDBDBD;
}
.col8dp10_pcl7{
    width: 6%;
    height: 100%;
    /* border-right:1px solid #989898; */
}

/* table head sub column */
.theadsubcol1_dp10_pcl7{
    width: 16.66%;
}
.theadsubcol2_dp10_pcl7{
    width: 20%;
}

/* table body one row columns */

.tbrowdp10_pcl7{
    display: flex;
    /* border-bottom: 1px solid #BDBDBD; */
    border-left: 1px solid black;
    border-right: 1px solid black;
    
}
.brb_dp10_pcl7{
    border-left: 1px solid black;
    border-right: 1px solid black;
}
.tbcol1dp10_pcl7{
    width: 2.2%;;
    border-right:1px solid #BDBDBD;
}
.tbcol2dp10_pcl7{
    width: 12.6%;
    border-right:1px solid #BDBDBD;
}
.tbcol3dp10_pcl7{
    width: 23%;
    border-right:1px solid #BDBDBD;
}
.tbcol4dp10_pcl7{
    width: 23%;
    border-right:1px solid #BDBDBD;
}

.tbcol7dp10_pcl7{
    width: 11%;
    border-right:1px solid #BDBDBD;
}
.tbcol8dp10_pcl7{
    width: 6%;
    /* border-right:1px solid #989898; */
    /* padding-top: 10px !important; */
}


/* table body img */
.imgdp10_pcl7{
    /* height: 80%;
    width: 65%; */
    height: 75px;
    width: 75px;
    margin: 2px;
    margin-top: 8px;
}

/* grand total */
.grandtotaldp10_pcl7{
    height: 25px;
    border-top: 1px solid #BDBDBD;
    border-bottom: 1px solid black;
    font-weight: bold;
}
.brbb_dp10_pcl7{
    border-bottom: 1px solid black;
}

/* summary */
.sumdp10_pcl7{
    width: 40%;
}
.dia_sum_dp10_pcl7{
    width: 20%;
}
.oth_sum_dp10_pcl7{
    width: 17%;
}
.remark_sum_dp10_pcl7{
    width: 15%;
}
.check_dp10_pcl7{
    width: 10%;
}

.h14_dp10_pcl7{
    height: 14px;
}
.pad_top_dp10_pcl7{
    padding: 0px !important;
    /* padding-top: 10px !important; */
}
.pr_dp10_pcl7{
    padding-right: 2px !important;
}
.cfullname_pcl7{
    font-size: 16px;
    padding-top: 4px;
    padding-bottom: 4px;
}
.fs_5_pcl7{
    font-size: 12px;
}
.pad_top_pcl7{
    padding-top: 2px !important;
}
.summarydp10_pcl7{
    border-top: 1px solid #989898;    
}

/** Vivek 7GrpS */
.widh50 {
    width: 50%;
}

.MNwidh50 {
    width: 50%;
    min-width: 26%;
}

.widh15 {
    width: 15%;
}

.mXheit{
    height: max-content;
}

.widh33 {
    width: 33.33%;
}

.widh80 {
    width: 80%;
}
.widh20 {
    width: 20%;
}

.brall {
    border: 1px solid #000000;
}

.brall1 {
    border: 1px solid #BDBDBD;
}

.bg_total_sum4 {
    background: #f2f2f2;
    min-height: 23px;
}

.metal_type_sum4 {
    width: 20%;
    min-width: 20%;
}

.dia_wt_sum4,
.GWt_sum4,
.net_wt_sum4,
.fine_wt_sum4 {
  width: 15%;
  min-width: 15%;
}

.gold_amount_sum4 {
  width: 20%;
  min-width: 20%;
}

.spbrWord {
    word-break: break-word;
    overflow-wrap: break-word;
    word-wrap: break-word;
}

@media print {

    .containerdp10_pcl7{
        box-sizing: border-box;
        word-break: break-all;
        padding: 4px;
        /* font-size: 8px !important;
        line-height: 9px !important; */
        color: black;
        max-width: 1230px;
    }

    .hidebtndp10_pcl7{
        display: none !important;
    }
    .tbrowdp10_pcl7{
        page-break-inside: avoid;
    }
    .pgia_pcl7{
        page-break-inside: avoid;
    }
    .summarydp10_pcl7{
        page-break-inside: avoid;
    }
    .theaddp10_pcl7{
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 30px !important;
        border-left:1px solid black;
        border-right:1px solid black;
        border-bottom:1px solid #BDBDBD;
    }
    .imgHWdp10_pcl7{
        height: 100%;
        max-height: 50px;
    }
    .grandtotaldp10_pcl7{
        height: 15px !important;
        border: 1px solid #BDBDBD;
        border-bottom: 1px solid black;
        border-left: 1px solid black;
        border-right: 1px solid black;
        font-weight: bold;
    }
    .containerdp10_pcl7{
        box-sizing: border-box;
        word-break: break-all;
        /* font-size: 7px;
        line-height: 7px; */
        max-width: 1230px;
        margin: 0 auto;
        padding: 15px;
        /* margin-top: 5rem; */
        
    }
    .h14_dp10_pcl7{
        height: 10px !important;
    }
    .imgdp10_pcl7{
        /* height: 80%;
        width: 65%; */
        height: 60px;
        width: 60px;
        margin: 1px;
        margin-top: 4px;
    }
    .pheaddp10_pcl7{
        height: 25px;
        /* background-color: #989898; */
        background-color: #939292;
        font-size: 14px;
        font-weight: bold;
        color: white;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding-left: 10px;
        margin-bottom: 3px;
    }
    .cfullname_pcl7{
        font-size: 13px !important;
        line-height: 15px !important;
        padding-top: 2px;
        padding-bottom: 2px;
    }
    
    .headImg_Pcl7{
        width: 100px !important;
    }
    .fsgdp10_pcl7{
        font-size: 9px !important;
        line-height: 10px !important;
    }
    .fsg2dp10_pcl7{
        font-size: 8px !important;
        line-height: 9px !important;
    }
    .fsgdp10_pcl7_2{
        font-size: 9px !important;
        line-height: 10px !important;
    }
    .fsgdp10_pcl7_3 {
        font-size: 12px !important;
        line-height: 13px !important;
    }
    .fs_5_pcl7{
        font-size: 10px !important;
        line-height: 11px !important;
    }
    .pr_dp10_pcl7{
        padding-right: 1px !important;
    }
    .summarydp10_pcl7{
        border-top: 1px solid #989898;
        
    }
    @page {
        margin: 4mm 1.55mm 1.5mm 1.5mm; /* top, right, bottom, left */
    }
}