html {
    scrollbar-gutter: stable;
}

.container {
    max-width: 1168px;
    zoom: 1.3;
}

.container * {
    /* font-size: 12px; */
    font-size: 9px;
    line-height: 120%;
    font-family: Calibri;
}

.packingListRow *{
    word-break: break-all;
}

.rowWisePad p{
    padding: 2px;
}

.img{
    width: 100%;
    max-width: 75px;
    max-height: 75px;
    object-fit: contain;
    object-position: center;
    margin: 0 auto;
}

.srNo{
    width: 3%;    
    min-width: 3%;
}
.diamond{
    width: 21%;    
    min-width: 21%;
}
 .stone{
    width: 20%;    
    min-width: 20%;
}
.metal{
    width: 21%;    
    min-width: 21%;
}
.labour, .other{
    width: 10%;    
    min-width: 10%;
}
.design{
    width: 8%;    
    min-width: 8%;
}
.price{
    width: 7%;    
    min-width: 7%;
}

.pad_1{
    padding-left: 1px;
    padding-right: 1px;
}

.wid_20{
    width: 20%;
    min-width: 20%;
}

.min_height{
    min-height: 18px;
    /* height: 15px; */
}

.total{
    width: 11%;
    min-width: 11%;
}

.discount{
    width: 93%;
    min-width: 93%;
}

.discounts{
    width: 11%;
    min-width: 11%;
}

.discountsAmounts{
    width: 5%;
    min-width: 5%;
}

.font_14 * {
    font-size: 14px;
}

.font_12 {
    font-size: 12px;
}

.font_11 {
    font-size: 11px;
}

.rowHeader * {
    font-size: 11px;
}

.word_break *{
    word-break: break-all;
}

.no_word_break *{
    word-break: normal;
}

.spbrWord {
    word-break: break-word;
    overflow-wrap: break-word;
    word-wrap: break-word;
}

.headText_pcls  {
    width: 100%;
    font-size: 18px !important;
    min-height: 30px !important;
    max-height: 30px !important;
    background-color: #939292 !important;
    color: #fff !important;
    font-weight: bold;
    padding-left: 4px;
}

.com_fs_pcl3 * {
    font-size: 9px !important;
}

.mainHeadWD {
    display: flex;
    justify-content: space-between;
}

.fs_16_pcls {
    font-size: 16px !important;
    line-height: 11px !important;
}

.fs_14_pcls {
    font-size: 12px !important;
    line-height: 13px !important;
}

.brall_pcls {
    border: 1px solid #dee2e6;
}

.bright_pcls {
    border-right: 1px solid #dee2e6;
}

.billbox_pcls {
    width: 120px;
}

.intru_qrC {
    width: 100%;
    min-height: 70px;
    border: 1px solid #dee2e6;
    margin-top: 4px;
    padding: 5px 5px 5px 5px;
}

.instruct {
    width: 99%;
    display: block !important;
    font-size: 11px !important;
    line-height: 11px !important;
    color: #000;
}

.tb_fs_pclsINS * {
    width: 99%;
    font-size: 10px !important;
    line-height: 10px !important;
    word-break: break-word;
    overflow-wrap: break-word;
    word-wrap: break-word;
}

.CheckBxFnt {
    font-size: 11px !important;
}

.fsgdp10_pcl7_3{
    font-size: 14px;
    line-height: 15px;
}

@media print{
    .packinhList1_top_line{
        font-size: 9px !important;
    }

    .container{
        max-width: 100%;
        zoom: unset;
    }

    .container * {
        font-size: 5px;
    }   

    .rowWisePad p {
        padding: 1px;
    }

    .min_height{
        min-height: 15px;
        /* height: 10px; */
    }
    .font_14 * {
        font-size: 12px;
    }
    
    .font_12 {
        font-size: 12px;
    }
    
    .font_11 {
        font-size: 10px;
    }

    .rowHeader * {
        font-size: 6.5px;
    }

    .com_fs_pcl3 * {
        font-size: 7px !important;
    }

    .fs_16_pcls {
        font-size: 9px !important;
        line-height: 6px !important;
    }

    .fs_14_pcls {
        font-size: 8px !important;
        line-height: 9px !important;
    }

    .headText_pcls  {
        font-size: 12px !important;
        min-height: 20px !important;
        max-height: 20px !important;
    }

    .intru_qrC {
        min-height: 55px;
        margin-top: 4px;
        padding: 3px 3px 3px 3px;
    }
    
    .instruct {
        display: block !important;
        font-size: 7px !important;
        line-height: 8px !important;
    }
    
    .tb_fs_pclsINS * {
        font-size: 6px !important;
        line-height: 7px !important;
        word-break: break-word;
        overflow-wrap: break-word;
        word-wrap: break-word;
    }

    .pbia_pcl3 {
        page-break-inside: avoid !important;
    }
}

@media print and (orientation: landscape) {
    .packinhList1_top_line{
        font-size: 9px !important;
    }

    .container{
        max-width: 100%;
        zoom: unset;
    }

    .container * {
        font-size: 8px;
    }

    .min_height{
        min-height: 15px;
        /* height: 10px; */
    }
    .font_14 *{
        font-size: 12px;
    }
    
    .font_12{
        font-size: 12px;
    }
    
    .font_11{
        font-size: 11px;
    }
    .rowHeader *{
        font-size: 8px;
    }

    .com_fs_pcl3 * {
        font-size: 8px !important;
    }

    .fs_16_pcls {
        font-size: 10px !important;
        line-height: 7px !important;
    }

    .fs_14_pcls {
        font-size: 9px !important;
        line-height: 10px !important;
    }

    .intru_qrC {
        min-height: 55px;
        margin-top: 4px;
        padding: 3px 3px 3px 3px;
    }
    
    .instruct {
        display: block !important;
        font-size: 9px !important;
        line-height: 10px !important;
    }
    
    .tb_fs_pclsINS * {
        font-size: 8px !important;
        line-height: 9px !important;
        word-break: break-word;
        overflow-wrap: break-word;
        word-wrap: break-word;
    }
}