.container{
    max-width: 1168px;
    zoom: 1.3;
}

.container * {
    /* font-size: 12px; */
    font-size: 9px;
    line-height: 120%;
    font-family: Calibri;
}

.packingListRow *{
    word-break: break-all;
}

.rowWisePad p{
    padding: 2px;
}

.img{
    width: 100%;
    max-width: 75px;
    max-height: 75px;
    object-fit: contain;
    object-position: center;
    margin: 0 auto;
}

.srNo{
    width: 3%;    
    min-width: 3%;
}
.diamond{
    width: 21%;    
    min-width: 21%;
}
 .stone{
    width: 20%;    
    min-width: 20%;
}
.metal{
    width: 21%;    
    min-width: 21%;
}
.labour, .other{
    width: 10%;    
    min-width: 10%;
}
.design{
    width: 8%;    
    min-width: 8%;
}
.price{
    width: 7%;    
    min-width: 7%;
}

.pad_1{
    padding-left: 1px;
    padding-right: 1px;
}

.wid_20{
    width: 20%;
    min-width: 20%;
}

.min_height{
    min-height: 18px;
    /* height: 15px; */
}

.total{
    width: 11%;
    min-width: 11%;
}

.discount{
    width: 93%;
    min-width: 93%;
}

.discounts{
    width: 11%;
    min-width: 11%;
}

.discountsAmounts{
    width: 5%;
    min-width: 5%;
}

.font_14 *{
    font-size: 14px;
}

.font_12{
    font-size: 12px;
}

.font_11{
    font-size: 11px;
}

.rowHeader *{
    font-size: 11px;
}

.word_break *{
    word-break: break-all;
}

.no_word_break *{
    word-break: normal;
}

@media print{

    .packinhList1_top_line{
        font-size: 9px !important;
    }

    .container{
        max-width: 100%;
        zoom: unset;
    }

    .container * {
        font-size: 9px;
    }

    .min_height{
        min-height: 15px;
        /* height: 10px; */
    }
    .font_14 *{
        font-size: 12px;
    }
    
    .font_12{
        font-size: 12px;
    }
    
    .font_11{
        font-size: 11px;
    }
    .rowHeader *{
        font-size: 8px;
    }
}