.container_reg {
        max-width: 1200px;
        width: 100%;
        padding: 10px;
        padding: 1rem;
        padding-left: 2rem;
        font-family: Calibri;
}

.header1RE {
    width: 100%;
    height: 70px;
    border-bottom: 0.5px solid black;
}

.lhRE {
    line-height: 30px;
}

.header2RE {
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-bottom: 0.5px solid black;
    height: 100%;
    min-height: 185px;
}

.headerAddRE {
    font-size: 28px;
    line-height: 120%;
    padding: 0.3rem;
}

.rateRE {
    font-size: 28px;
    line-height: 120%;
    padding: 0.3rem;
}

.rateREflex {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-right: 1rem;
}

.theadRE {
    height: 90px;
    display: flex;
    border-bottom: 1px solid black;

    /* height: 70px;
    display: flex; */
}

.tbodyRE {
    height: 100%;
    min-height: 90px;
    display: flex;
    border-bottom: 1px solid black;
    padding-top: 10px;
    
}

.qdRE {
    width: 465px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 4px;
    line-height: 120%;
    font-size: 21px;
}

.qtdRE {
    width: 500px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 1px;
    font-size: 28px;
    line-height: 120%;
    flex-direction: column;
}

.r1RE {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 30px;
}

.c1RE {

    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 4px;
    line-height: 120%;
    font-size: 21px;
}

.brbRE {
    text-decoration: underline;
}

.tableRE {
    display: flex;
    flex-direction: column;
}

.c1QTYRE {
    width: 120px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 4px;
    line-height: 120%;
    font-size: 21px;
}

.grandTotalRE {
    border-bottom: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.wgtRE {
    width: 50%;
}

.wREord {
    width: 50%;
    display: flex;
    justify-content: space-between;
    padding: 5px 0px;
}

.endRE {
    display: flex;
    justify-content: flex-end !important;
}
.btnpcl{
display: flex;
justify-content: flex-end;
align-items: flex-end;
width: 95%;
margin: 3rem;
 }
@media print {
    .tbodyRE {
        page-break-inside: avoid;
    }
    .btnpclRE{
        display: none;
    }
    
        .print_sec_sum4 {
            display: none !important;
          }  
          .wREord {
            width: 70%;
            display: flex;
            justify-content: space-between;
            padding: 5px 0px;
        }
}