.solitaireTaxInvoice * {
    font-size: 13px;
    line-height: 120%;
    font-family: Calibri;
}

.SR{
    width: 12%;
    min-width: 12%;
}

.AMOUNT,
.DISCOUNT,
.TOTAL {
    width: 13%;
    min-width: 13%;
}

.DESCRIPTION {
    width: 49%;
    min-width: 49%;
}

.REMARKS{
    width: 61%;
    min-width: 61%;
}

.WORDS{
    width: 26%;
    min-width: 26%;
}