.Category, .Metal, .Hsn, .Making, .Total{
    width: 12.6%;
    min-width: 12.6%;
}
.Pcs{
    width: 7%;
    min-width: 7%;
}
.Gross, .Net, .Rate{
    width: 10%;
    min-width: 10%;
}

.tax{
    width: 87.4%;
    min-width: 87.4%;
}

.lines{
    font-size: 12px;
}

.font_13, .font_13 *{
    font-size: 13px;
}

.font_14, .font_14 *{
    font-size: 14px;
}

@media print{
    .print_sec_sum4{
        display: none !important
    }
}