@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-input {
    padding: 2.5rem !important;
    padding-top: 0.5rem !important;
    padding-bottom: 0.5rem !important;
    padding-right: 0.5rem !important;
  }
  
.customdate-input {
    padding: 0.5rem !important;
    padding-top: 0.5rem !important;
    padding-bottom: 0.5rem !important;
  }
  